{{ define "main" }}
<div class="quire-page">
  <h1 class="quire-page__title"><span class="quire-page__number">{{ with .Params.number }}{{ . }}. {{ end }}</span> {{ .Title }}{{ with .Params.subtitle }}: {{ . }}{{ end }}</h1>
  <ul class="quire-page__author">
  {{ range .Params.author }}
  <li>{{ .first_name }} {{ .last_name }}, {{ .affiliation }}</li>
  {{ end }}
  <div class="quire-page__content">
    <section class="quire-page__abstract">
      <h2>Abstract</h2>
      {{ .Params.abstract | markdownify }}
    </section>
    {{ .Content }}
    <section class="quire-page__references">
      <h2>Bibliography</h2>
      {{- range .Site.Data.references.reference_list -}}
      {{- $x := $.Params.id -}}
      {{- if in .reference_for $x -}}
      <dt>{{ .short }}</dt>
      <dd>{{ .full | markdownify }}</dd>
      {{- end -}}
      {{- end -}}
    </section>
</div>
{{ end }}
