html {
  // font-size: 110%;
  color: $black;
  font-family: $text-font-family;
  font-size: $base-font-size;
  font-weight: 300;
  line-height: 1.6em;

}

body {
  margin: 0;
  padding: 0;
}

strong {
  font-weight: 400;
}

a {
  color: $primary-color;
  font-weight: 400;
  text-decoration: none;

  &:active,
  &:focus,
  &:hover {
    color: shade($primary-color, 25%);
  }
}

sup,
sub {
  line-height: 0;
}

//
// @media (max-width: 40em) {
//   html {
//     font-size: 80%;
//   }
// }
//
p {
  margin: 0;
  text-indent: $base-spacing * 1.5;
}

h2 + p {
  text-indent: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-weight: 700;
  line-height: 1.5em;
}

h2 {
  font-size: 1.75em;
}

hr {
  border: 0;
  margin: 2rem 0;
  text-align: center;

  &::after {
    color: $dark-neutral;
    content: "✦ ✦ ✦";
    letter-spacing: $base-spacing * 0.8;
  }
}

table {
  border-collapse: collapse;
  line-height: $small-font-line-height;
  margin: $base-spacing 0;
  table-layout: fixed;
  width: 100%;

  caption {
    font-weight: 700;
    margin-bottom: $base-spacing * 0.5;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;

    li { margin-bottom: $base-spacing * 0.25; }
  }

}

th {
  border-bottom: 1px solid $dark-neutral;
  font-weight: bold;
  padding-top: $base-spacing * .5;
  padding-right: $base-spacing * .25;
  padding-bottom: $base-spacing * .5;
  padding-left: 0;
  text-align: left;
  overflow: hidden;
}

td {
  border-bottom: 1px solid $mid-neutral;
  padding-top: $base-spacing * .5;
  padding-right: $base-spacing * .25;
  padding-bottom: $base-spacing * .5;
  padding-left: 0;
  overflow: hidden;
}

tbody th {
    font-weight: 300;
    border-bottom-color: $mid-neutral;
}

tfoot td {
  border-bottom: 0;
}

tr,
td,
th {
  vertical-align: middle;
}

.quire-publisher:after {
  content: ', ';
}

.quire-publisher:nth-last-child(2):after {
  content: ' and ';
}

sup {
  line-height: 0;
}


.quire-body {
  @media screen {
    // The .visually-hidden css is from Heydon Pickering’s book Inclusive Design
    // Patterns, and is devised to visually hide the elelment without it becoming
    // silenced in screen readers

    .quire-noscreen {
      display: none;
    }

    .visually-hidden {
      clip: rect(1px, 1px, 1px, 1px);
      height: 1px;
      overflow: hidden;
      position: absolute;
      width: 1px;
    }

    .skip-link {
      font-size: 1rem * $small-font-scale;
      font-weight: 400;
      position: absolute;
      right: 100%;
    }

    .skip-link:focus {
      left: $base-spacing * 4;
      position: fixed;
      top: $base-spacing * 0.8;
      width: 10em;
      z-index: 1000;

      &.no-js { left: $base-spacing; }
    }

    .quire-nav-group {
      background-color: $white;
      font-family: $heading-font-family;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 9999;

      &.no-js {
        right: 0;
        width: 70%;
      }
    }

    main {
      &.no-js {
        float: right;
        width: 70%;
      }
    }

    &.quire-cover {
      .quire-nav-group {
        background-color: transparent;

        &.no-js { width: 100%; }
      }

      main {
        &.no-js { width: 100%; }
      }

      .quire-menu.no-js { display: none;}
    }
  }
}


// The following is just used for the temporary Figures Documentation page.

h4 { margin-bottom: 0; }
h4 + pre { margin-top: 0; }

pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

code { color: $primary-color; }
