// html {
//   font-size: calc(1em + 1vw);
// }

html {
  font-size: 115%;
}
//
// @media (max-width: 40em) {
//   html {
//     font-size: 80%;
//   }
// }
//
p {
  margin: 1.35rem 0;
  font-size: 1rem;
  line-height: 1.5em;
}

main {
  max-width: 40rem;
  margin: 0 auto;
}

sup {
  line-height: 0;
}

.quire-baseof {

  /* The .visually-hidden css is from Heydon Pickering’s book Inclusive Design Patterns, and is devised to visually hide the elelment without it becoming silenced in screen readers */
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
  }

  .skip-link {
    position: absolute;
    right: 100%;
  }

  .skip-link:focus {
    position: relative;
    right: auto;
  }

}
