// html {
//   font-size: calc(1em + 1vw);
// }

html {
  font-size: 110%;
  // font-size: calc(1em + .1vw);
  font-family: $text-font-family;
  font-weight: 300;
  line-height: 1.6em;
}

body {
  margin: 0;
  padding: 0;
}

strong {
  font-weight: 400;
}

a {
  color: $primary-color;
  text-decoration: none;
  font-weight: 400;

  &:active,
  &:focus,
  &:hover {
    color: shade($primary-color, 25%);
  }
}

//
// @media (max-width: 40em) {
//   html {
//     font-size: 80%;
//   }
// }
//
p {
  margin: 0;
  text-indent: $base-spacing * 1.5;
}

h2 + p {
  text-indent: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family;
  font-weight: 700;
  line-height: 1.5em
}

h2 {
  font-size: 1.75em;
}

table {
  border-collapse: collapse;
  margin: $base-spacing 0;
  table-layout: fixed;
}

th {
  border-bottom: 1px solid $base-text-color;
  font-weight: bold;
  padding: ($base-spacing * .5) 0;
  text-align: left;
}

td {
  border-bottom: 1px solid $light-text-color;
  padding: ($base-spacing * .5) 0;
}

tr,
td,
th {
  vertical-align: middle;
}

hr {
  border: 0;
  text-align: center;
  margin: 2rem 0;
}

hr:after {
  content: '◆ ◆ ◆';
  letter-spacing: $base-spacing * .8;
}

.quire-page__content {
  max-width: 40rem;
  margin: 0 auto;
}

.quire-publisher:after {
  content: ', ';
}

.quire-publisher:nth-last-child(2):after {
  content: ' and ';
}

sup {
  line-height: 0;
}

.quire-baseof {

  /* The .visually-hidden css is from Heydon Pickering’s book Inclusive Design Patterns, and is devised to visually hide the elelment without it becoming silenced in screen readers */
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
  }

  .skip-link {
    position: absolute;
    right: 100%;
    font-size: 1rem * $small-font-scale;
    font-weight: 400;
  }

  .skip-link:focus {
    position: fixed;
    left: $base-spacing * 4;
    top: $base-spacing * .8;
    width: 10em;
  }

  .quire-nav-group {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-family: $heading-font-family;
    background-color: $white;
  }

  &.quire-cover {
    .quire-nav-group {
      background-color: transparent;
    }
  }

}
