.q-contributors__list {
  list-style-type: none;
  padding-left: 0;
}

.q-contributors__list .q-contributors__list__item {
  margin-bottom: 1em;
}

.q-contributors__list .q-contributors__list__item p {
  margin-bottom: 0;
}