.quire-cover__background {
  background-image: url("../img/cover_bg.jpg");
  background-position: right center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100vh;
  justify-content: flex-end;
}

.quire-cover__video-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
  overflow: hidden;
}
.quire-cover__video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
}


.quire-cover__inner {
  margin: 0 8%;
  z-index: 1;
  &__title {
    font-family: $heading-font-family;
    font-weight: 700;
    font-size: 8vh;
    line-height: 9vh;
    // color: darken($primary-color, 5%);
    color: $primary-color;
    letter-spacing: 1px;
  }
  &__subtitle {
    display: block;
    font-size: 8vh * $small-font-scale;
    line-height: 9vh * $small-font-scale;
    font-weight: 400;
    letter-spacing: 0px;
    margin-top: 1.5vh;
  }
  &__reading-line {
    color: $light-neutral;
    display: block;
    font-size: 8vh * ($small-font-scale * .7);
    line-height: 9vh * ($small-font-scale * .7);
    font-weight: 400;
    letter-spacing: 0px;
    margin-top: 5vh;
  }
  &__contributor {
    font-family: $heading-font-family;
    color: $black;
    font-size: 2.8vh;
    line-height: 5vh;
    margin-top: 8vh;
    margin-bottom: 8vh;
    p {
      text-indent: 0;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      font-weight: bold;
    }
  }
  &__series {
    background-color: $mid-neutral;
    font-size: 1.8vh;
    letter-spacing: .5vh;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 15vh;
    padding-left: 2.8vh;
    padding-top: 1.4vh;
    padding-bottom: 2vh;
  }
}

.quire-cover__content {
  max-width: 40rem;
  margin: 4em auto 6em;

  p {
    text-indent: 0;
    margin-bottom: 1em;
  }

}

.quire-cover__footer {
  display: flex;
  justify-content: space-between;
  font-size: .8rem;
  line-height: 1.5em;
  padding: 2em;
  font-weight: 400;
  color: #706c6d;

  a {
    color: #706c6d;
    text-decoration: underline;
    text-decoration-skip: ink;
  }

  &__text {
    max-width: 40rem;
    p {
      text-indent: 0;
    }
    ul {
      list-style-type: none;
      padding-left: 0;
      display: flex;
      color: #706c6d;
      margin-top: .5em;
      li {
        list-style-type: none;
        margin-right: .25em;
      }
      li::after {
        padding-left: .25em;
        content: "|";
      }
      li:last-child::after {
        content: "";
      }
    }
    .quire-publication-info {
      font-weight: 700;
      margin-bottom: .5em;
    }
  }

  .quire-copyright {
    max-width: 25rem;
  }

  .quire-copyright img {
    width: 4em;
    padding-top: .25em;
  }

  &__logo svg {
    fill: #706c6d;
    width: 3.5em;
    height: 3.5em;
  }

}
