.q-figure {
  width: calc(100% - ($base-spacing * 6));
  margin-bottom: $base-spacing * 1.5;
  margin-top: $base-spacing * 1.5;
  margin-right: $base-spacing * 2;
  margin-left: $base-spacing * 2;

  img {
    display: block;
    width: 100%;
  }
  figcaption {
    font-size: 1rem * $small-font-scale;
    line-height: 1.3rem;
    font-weight: 300;
    margin-top: $base-spacing * .5;
    width: 100%;
    clear: both;
  }

  &.is-expanded {
    position: fixed;
    top: 0;
    left: 0;
    width: 90vw;
    height: 86vh;
    margin: 5vh 3.5vw;
    padding: 2vh 1.5vw;
    background-color: #fff;
    z-index: 11000;
    overflow: scroll;

    .q-figure__table-wrapper {
      font-size: 1rem;

      table {
        width: auto;
        min-width: 100%;

        th, td {
          padding: 1rem;
        }
      }

      &.q-table-scale-1,
      &.q-table-scale-2,
      &.q-table-scale-3,
      &.q-table-scale-4,
      &.q-table-scale-5,
      &.q-table-scale-6,
      &.q-table-scale-7,
      &.q-table-scale-8,
      &.q-table-scale-9 {
        font-size: 1rem;
      }

    }

  }

  &.q-float-left {
    float: left;
    clear: both;
    width: 45%;
    margin-right: $base-spacing;
    margin-left: 0;
  }

  &.q-float-right {
    float: right;
    clear: both;
    width: 45%;
    margin-left: $base-spacing;
    margin-right: 0;
  }

  &.q-plate {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  &.q-small-center {
    width: 14%;
    margin-left: 43%;
    margin-right: 43%;
  }

  &.q-figure-grid {

    display: inline-block;
    clear: both;

    .q-figure__inner-figure {

      float: left;
      margin-left: 0;
      margin-right: 0;

      &.q-grid-2 {
        width: 48.5%;
        margin-right: 3%;
        &:nth-child(2n) {
          margin-right: 0;
          + .q-figure__inner-figure {
            clear: left;
          }
        }
      }

      &.q-grid-3 {
        width: 31.33%;
        margin-right: 3%;
        &:nth-child(3n) {
          margin-right: 0;
          + .q-figure__inner-figure {
            clear: left;
          }
        }
      }

      &.q-grid-4 {
        width: 22.75%;
        margin-right: 3%;
        &:nth-child(4n) {
          margin-right: 0;
          + .q-figure__inner-figure {
            clear: left;
          }
        }
      }

      &.q-grid-5 {
        width: 17.6%;
        margin-right: 3%;
        &:nth-child(5n) {
          margin-right: 0;
          + .q-figure__inner-figure {
            clear: left;
          }
        }
      }

    }

    .q-figure__inner-figure + figcaption {
      margin-top: $base-spacing * -.4;
    }

  }

  @supports (display: flex) {

    &.q-figure-grid {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;

      &.q-grid-center {
        align-items: center;
      }

      &.q-grid-bottom {
        align-items: flex-end;
      }

      .q-figure__inner-figure {

        display: block;
        margin-left: 0;

        &.q-grid-2 {
          margin-right: $base-spacing;
          flex-basis: calc( (100% - 1rem) / 2 );
        }
        &.q-grid-2:nth-child(2n) {
          margin-right: 0;
        }
        &.q-grid-3 {
          margin-right: $base-spacing;
          flex-basis: calc( (100% - 2rem) / 3 );
        }
        &.q-grid-3:nth-child(3n) {
          margin-right: 0;
        }
        &.q-grid-4 {
          margin-right: $base-spacing;
          flex-basis: calc( (100% - 3rem) / 4 );
        }
        &.q-grid-4:nth-child(4n) {
          margin-right: 0;
        }
        &.q-grid-5 {
          margin-right: $base-spacing;
          flex-basis: calc( (100% - 4rem) / 5 );
        }
        &.q-grid-5:nth-child(5n) {
          margin-right: 0;
        }

      }

      .q-figure__inner-figure + figcaption {
        margin-top: $base-spacing * -.4;
      }

    }
  }

  &__inner-figure {
    margin-bottom: $base-spacing;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
  }

  &__wrapper {
    .q-figure-label {
      font-size: 1rem * $small-font-scale;
      margin-top: -.25rem;
      display: block;
    }
  }

  .q-figure-label {
    font-weight: 400;
  }

  &__table-wrapper {

    // table {
    //   width: 100%;
    //   line-height: $small-font-line-height;
    //   border-collapse: collapse;
    //   margin: $base-spacing 0;
    //   table-layout: fixed;
    //
    //   caption {
    //     font-weight: 700;
    //     margin-bottom: $base-spacing * .5;
    //   }
    //
    //   ul {
    //     list-style-type: none;
    //     margin: 0;
    //     padding-left: 0;
    //     li {
    //       margin-bottom: $base-spacing * .25;
    //     }
    //   }
    //
    // }
    //
    // th {
    //   font-weight: bold;
    //   padding-top: $base-spacing * .5;
    //   padding-right: $base-spacing * .25;
    //   padding-bottom: $base-spacing * .5;
    //   padding-left: 0;
    //   text-align: left;
    //   overflow: hidden;
    // }
    //
    // td {
    //   padding-top: $base-spacing * .5;
    //   padding-right: $base-spacing * .25;
    //   padding-bottom: $base-spacing * .5;
    //   padding-left: 0;
    //   overflow: hidden;
    // }
    //
    // tr,
    // td,
    // th {
    //   vertical-align: middle;
    // }

    th {
      border-bottom: 0;
    }
    td {
      border-bottom: 0;
    }

    &.q-table-scale-1 {
      font-size: .1rem;
    }

    &.q-table-scale-2 {
      font-size: .2rem;
    }

    &.q-table-scale-3 {
      font-size: .3rem;
    }

    &.q-table-scale-4 {
      font-size: .4rem;
    }

    &.q-table-scale-5 {
      font-size: .5rem;
    }

    &.q-table-scale-6 {
      font-size: .6rem;
    }

    &.q-table-scale-7 {
      font-size: .7rem;
    }

    &.q-table-scale-8 {
      font-size: .8rem;
    }

    &.q-table-scale-9 {
      font-size: .9rem;
    }

    &.q-center-head {
      thead tr th {
        text-align: center;
      }
    }

    &.q-center-body {
      tbody tr td {
        text-align: center;
      }
    }

    &.q-center-foot {
      tfoot tr td {
        text-align: center;
      }
    }

    &.q-center-all {
      th, td {
        text-align: center;
      }
    }

    &.q-border-vertical {
      td,
      th {
        border-left: 1px solid $mid-neutral;
        padding-left: $base-spacing * .25;
      }
      th {
        border-color: $mid-neutral;
      }
      tbody th {
        border-color: $mid-neutral;
      }
      thead th:last-of-type {
        border-right: 1px solid $mid-neutral;
      }
      tbody td:last-of-type {
        border-right: 1px solid $mid-neutral;
      }
    }

    &.q-border-horizontal {
      th {
        border-color: $dark-neutral;
        border-bottom: 1px solid $dark-neutral;
      }
      td {
        border-bottom: 1px solid $mid-neutral;
      }
      thead th:last-of-type {
        border-color: $dark-neutral;
      }
      tbody th {
        border-bottom-color: $mid-neutral;
      }
      tfoot td {
        border-bottom: 0;
      }
    }

    &.q-border-box {
      table {
        border: 1px solid $dark-neutral;
        td,
        th {
          padding-left: $base-spacing * .25;
        }
        td:first-of-type,
        th:first-of-type {
          padding-left: $base-spacing * .25;
          border-left: 0;
        }
        td:last-of-type,
        th:last-of-type {
          border-right: 0;
        }
      }
    }

    &.q-border-all {
      table {
        border: 1px solid $dark-neutral;
        td,
        th {
          border-left: 1px solid $mid-neutral;
          padding-left: $base-spacing * .25;
        }
        th {
          border-bottom: 1px solid $dark-neutral;
          border-color: $dark-neutral;
        }
        td {
          border-bottom: 1px solid $mid-neutral;
        }
        tbody th {
          border-bottom-color: $mid-neutral;
        }
        tfoot td {
          border-bottom: 0;
        }

        tbody tr *:first-child{
          border-left-color: $dark-neutral;
        }

      }
    }

  }

}

.js-figure-curtain {

  display: none;

  &.is-expanded {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .6;
    z-index: 10000;
  }

}

/* Video Figure */

.q-figure-credit {
  display: block;
  font-size: .6rem;
  line-height: 1.6em;
  margin-top: .4em;
}

.q-figure__wrapper__video--standard {
  padding-bottom: 75%;
  position: relative;
}

.q-figure__wrapper__video--widescreen {
  padding-bottom: 56.25%;
  position: relative;
}

.q-figure__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

img.q-figure__video__print-fallback,
div.q-figure__video__print-fallback,
.q-figure__video__print-fallback__text {
  display: none;
}

@media print {
  .q-figure__wrapper__video--standard,
  .q-figure__wrapper__video--widescreen {
    padding-bottom: 0;
    position: static;
  }
  img.q-figure__video__print-fallback {
    display: block;
  }
  div.q-figure__video__print-fallback {
    display: block;
    padding-top: 1em;
    border-top: 1pt solid #efebec;
    border-radius: 3pt;
    color: #b2b2b2;
  }
  .q-figure__video__print-fallback__icon {
    fill: #efebec;
    width: 30%;
    display: block;
    margin-bottom: .75em;
  }
  .q-figure__video__print-fallback__text {
    display: inline;
  }
  .q-figure__video {
    display: none;
  }
  .q-figure {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
