

.quire-page {
  margin-bottom: $base-spacing * 10;

  &__header {
    margin-bottom: $base-spacing * 6;
    margin-top: $base-spacing * 8;
    padding: 0 5vw;
    text-align: center;

    &__number {
      color: $mid-neutral;
      display: block;
      font-family: $heading-font-family;
      font-size: 1.5rem;
    }

    &__title {
      color: $primary-color;
      font-size: 2.5rem;
      margin: auto;
      margin-bottom: $base-spacing;
      max-width: 52rem;
    }

    @media screen and (max-width: 690px) {
      &__title {
        font-size: 2em;
      }
    }

    &__contributor {
      color: $mid-neutral;
      font-family: $heading-font-family;
      font-style: italic;
      font-weight: 400;
      list-style-type: none;
      margin-top: 0;
      padding: 0;
    }

    &__page-navigation {
      font-size: 1rem * $small-font-scale;
      line-height: $small-font-line-height;
      text-indent: 0;

      ul {
        display: inline-block;
        list-style-type: none;
        margin-top: 0;
        padding-left: 0;
      }

      ul li {
        float: left;
        margin-left: $base-spacing * 0.25;

        &:first-child {
          margin-left: 0;

          a { margin-left: $base-spacing * 0.25; }
        }

        &::before {
          content: "|";
          padding-right: $base-spacing * 0.25;
        }

        &:first-child::before {
          content: "";
          padding-right: 0;
        }
      }
    }
  }

  &__content,
  &__section-list {
    margin: 0 auto;
    padding: 0 5vw;
    max-width: 40rem;
  }

  &__content {
    &__main {
      margin-bottom: $base-spacing;

      p {
        margin-bottom: 0;
        text-indent: $base-spacing * 2;
      }

      h2 + p,
      h3 + p,
      h4 + p,
      h5 + p,
      h6 + p,
      p:first-child {
        text-indent: 0;
      }

      @media screen and (max-width: 690px) {
        h2 {
          font-size: 1.25em;
        }
      }

      blockquote > p {
        text-indent: 0;
      }

      ol li,
      ul li {
        margin-bottom: $base-spacing * 0.5;

        p {
          margin-bottom: $base-spacing * 0.25;
          text-indent: 0;
        }
      }

      .attribution {
        font-style: italic;
        margin-right: $base-spacing;
        margin-top: $base-spacing;
        text-align: right;
      }

      .footnotes {
        font-size: 1rem * $small-font-scale;
        line-height: $small-font-line-height;

        p {
          margin-bottom: $base-spacing * .5;
          text-indent: 0;
        }

        ol {
          margin-left: $base-spacing * 1.6;
          padding-left: 0;
        }

        li > ol {
          padding-left: 1em;

          li { margin-bottom: 0; }
        }

        li { margin-bottom: $base-spacing * .5; }
        hr { display: none; }
      }

      .quire-contents {
        list-style-type: none;
        padding-left: 0;
        color: $mid-neutral;
        font-weight: 400;
        li {
          margin-top: 1em;
        }
        li ul {
          list-style-type: none;
          padding-left: none;
          margin-top: .5em;
        }
        .quire-contents__section {
          text-transform: uppercase;
        }
        .quire-contents__section .quire-contents__page {
          text-transform: none;
        }
      }

      &__backmatter {
        font-size: 1rem * $small-font-scale;
        line-height: $small-font-line-height;

        h2 {
          font-size: 1.25rem;
          color: $dark-neutral;
        }
        h3 {
          color: $dark-neutral;
        }
      }

      h2#notes {
        font-size: 1.25rem;
        color: $dark-neutral;
      }

      h2#notes + p {
        font-size: 1rem * $small-font-scale;
        line-height: $small-font-line-height;
      }

    }

    &__reader-note {
      font-size: 1rem * $small-font-scale;
      line-height: $small-font-line-height;
      h2 {
        font-size: 1.25rem;
        color: $dark-neutral;
      }
    }

    &__references {
      h2 {
        font-size: 1.25rem;
        color: $dark-neutral;
      }
    }

    &__references dt {
      font-size: 1rem * $small-font-scale;
      font-weight: 400;
      line-height: $small-font-line-height;
      // color: $dark-neutral;
      color: #5e5e5e;
    }

    &__references dd {
      font-size: 1rem * $small-font-scale;
      line-height: $small-font-line-height;
      margin-bottom: $base-spacing * 0.5;
      margin-left: 0;
    }

    &__abstract {
      font-size: 1rem * $small-font-scale;
      line-height: $small-font-line-height;
    }

    &__abstract + hr {
      margin: ($base-spacing * 2) 0;
    }

    &__abstract h2 {
      font-size: 1.25rem;
      color: $dark-neutral;
    }

    &__contributor {
      list-style-type: none;
      margin-top: $base-spacing * 3;
      padding-left: $base-spacing;

      li {
        float: left;
        margin-bottom: $base-spacing;
        margin-right: $base-spacing * 2;
      }
    }
  }

  &__section-list {
    &__item {
      list-style-type: none;
      margin-bottom: $base-spacing * 2;

      &__title {
        font-size: 1rem;
        margin-bottom: 0;

        a { font-weight: 700; }
      }

      &__abstract-only-title {
        color: $dark-neutral;
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 0;
      }

      &__contributor {
        color: $mid-neutral;
        font-family: $heading-font-family;
        font-style: italic;
        font-weight: 400;
        list-style-type: none;
        padding-left: 0;
      }
    }

    &__link {
      display: inline-block;
      font-size: 1rem * $small-font-scale;
      margin: ($base-spacing * 0.5) 0 0;

      svg {
        fill: $primary-color;
        height: 1em;
        width: 1em;
      }

      button {
        background-color: $light-neutral;
        border: 0;
        border-radius: 0.25em;
        color: $primary-color;
        cursor: pointer;
        font-size: 1rem * $small-font-scale;
        margin: $base-spacing * 0.25;
        padding: ($base-spacing * 0.35) ($base-spacing * 0.7);

        &.no-js {
          background-color: transparent;
          border: 0;
          color: inherit;
          cursor: inherit;
          font-size: 1rem * $small-font-scale;
          margin-left: 0;
          padding: 0;
        }
      }
    }

    &__abstract {
      font-size: 1rem * $small-font-scale;
      line-height: $small-font-line-height;
    }
  }
}
#copyright,
#about {

  // a {
  //   word-break: break-all;
  //   overflow-wrap: break-word;
  //   word-wrap: break-word;
  // }

  p, ul {
    margin-top: 0;
    margin-bottom: 1em;
    text-indent: 0;
  }

  .quire-copyright {
    margin-bottom: 1em;
    p {
      margin-bottom: 0;
    }
    img {
      width: 6em;
      padding: .25em 0 0;
    }
  }

  .quire-revision-history {
    margin-bottom: 1em;
    p {
      margin-bottom: 0;
    }
  }

  .quire-publisher-team {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    li {
      margin: 0;
    }
    &__role {
      font-style: italic;
    }
  }

  .quire-loc-cip {
    p {
      margin-bottom: 0;
    }
    ul {
      list-style-type: none;
      padding-left: 0;
      margin-left: 0;
    }
    li {
      margin: 0;
      padding-left: 1.5em;
      text-indent: -1.5em;
    }

  }
}
