.quire-page {
  margin-bottom: $base-spacing * 10;

  &__content {

    &__main {
      margin-bottom: $base-spacing;
      p {
        text-indent: $base-spacing;
        margin-bottom: 0;
      }
      h2 + p,
      h3 + p,
      h4 + p,
      h5 + p,
      h6 + p, {
        text-indent: 0;
      }
      .attribution {
        font-style: italic;
        margin-top: $base-spacing;
        text-align: right;
        margin-right: $base-spacing;
      }
      .footnotes {
        font-size: $small-font-scale;
        line-height: $small-font-line-height;
        p {
          text-indent: 0;
          margin-bottom: $base-spacing * .25;
        }
        ol {
          padding-left: 0;
        }
        li > ol {
          padding-left: 1em;
          li {
            margin-bottom: 0;
          }
        }
        li {
          margin-bottom: $base-spacing * .5;
        }
        hr {
          display: none;
        }
      }
      table {
        font-size: $small-font-scale;
        line-height: $small-font-line-height;
        width: calc(100% - (1rem * 2));
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: $base-spacing * 2;
      }
    }

    &__references dt {
      font-size: $small-font-scale;
      line-height: $small-font-line-height;
      font-weight: bold;
    }

    &__references dd {
      font-size: $small-font-scale;
      line-height: $small-font-line-height;
      margin-bottom: $base-spacing * .5;
      margin-left: 0;
    }

    &__abstract {
      font-size: $small-font-scale;
      line-height: $small-font-line-height;
    }

    &__abstract h2 {
      // font-size: 100%;
    }



  }

}
