.quire-page {

  margin-bottom: $base-spacing * 10;

  &__header {
    text-align: center;
    margin-bottom: $base-spacing * 6;
    margin-top: $base-spacing * 8;
    padding: 0 ($base-spacing * 3);

    &__number {
      display: block;
      font-size: 1.5rem;
      color: $mid-neutral;
      font-family: $heading-font-family;
    }

    &__title {
      max-width: 52rem;
      margin: auto;
      color: $primary-color;
      font-size: 2.5rem;
      margin-bottom: $base-spacing;
    }

    &__author {
      list-style-type: none;
      padding: 0;
      margin-top: 0;
      font-family: $heading-font-family;
      font-style: italic;
      color: $mid-neutral;
    }

    &__page-navigation {
      font-size: 1rem * $small-font-scale;
      line-height: $small-font-line-height;
      text-indent: 0;
    }

  }

  &__content,
  &__section-list {
    max-width: 40rem;
    margin: 0 auto;
  }

  &__content {

    &__main {
      margin-bottom: $base-spacing;
      p {
        text-indent: $base-spacing;
        margin-bottom: 0;
      }
      h2 + p,
      h3 + p,
      h4 + p,
      h5 + p,
      h6 + p,
      p:first-child {
        text-indent: 0;
      }

      blockquote > p {
        text-indent: 0;
      }

      ol, ul {
        li {
          margin-bottom: $base-spacing * .5;
          p {
            text-indent: 0;
            margin-bottom: $base-spacing * .25;
          }
        }
      }

      .attribution {
        font-style: italic;
        margin-top: $base-spacing;
        text-align: right;
        margin-right: $base-spacing;
      }
      .footnotes {
        font-size: 1rem * $small-font-scale;
        line-height: $small-font-line-height;
        p {
          text-indent: 0;
          margin-bottom: $base-spacing * .25;
        }
        ol {
          padding-left: 0;
        }
        li > ol {
          padding-left: 1em;
          li {
            margin-bottom: 0;
          }
        }
        li {
          margin-bottom: $base-spacing * .5;
        }
        hr {
          display: none;
        }
      }
      table {
        font-size: 1rem * $small-font-scale;
        line-height: $small-font-line-height;
        width: calc(100% - (1rem * 2));
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: $base-spacing * 2;
      }
    }

    &__references dt {
      font-size: 1rem * $small-font-scale;
      line-height: $small-font-line-height;
      font-weight: bold;
    }

    &__references dd {
      font-size: 1rem * $small-font-scale;
      line-height: $small-font-line-height;
      margin-bottom: $base-spacing * .5;
      margin-left: 0;
    }

    &__abstract {
      font-size: 1rem * $small-font-scale;
      line-height: $small-font-line-height;
    }

    &__abstract + hr {
      margin: ($base-spacing * 2) 0;
    }

    &__abstract h2 {
      // font-size: 100%;
    }

    &__contributor {
      list-style-type: none;
      margin-top: $base-spacing * 3;
      padding-left: $base-spacing;
      li {
        float: left;
        margin-right: $base-spacing * 2;
      }
    }

  }

  &__section-list {

    &__item {
      margin-bottom: $base-spacing * 2;
      list-style-type: none;

      &__title {
        font-family: $heading-font-family;
        a {
          font-weight: 700;
        }
      }

      &__abstract-only-title {
        font-family: $heading-font-family;
        color: $dark-neutral;
        font-weight: 400;
      }

      &__contributor {
        list-style-type: none;
        padding-left: 0;
        font-family: $heading-font-family;
        font-style: italic;
        font-weight: 400;
        color: $mid-neutral;
      }
    }

    &__read {
      display: inline-block;
      cursor: pointer;

      &__link {
        font-size: 1rem * $small-font-scale;
        display: inline-block;
        background-color: $light-neutral;
        border-radius: .25em;
        padding: ($base-spacing * .1) ($base-spacing * .5);
        margin: $base-spacing * .25;
        svg {
          height: 1em;
          width: 1em;
          fill: $primary-color;
        }
        button {
          cursor: pointer;
          background-color: inherit;
          border: none;
          color: $primary-color;
          font-size: 1rem * $small-font-scale;
        }
      }
    }

    &__abstract {
      font-size: 1rem * $small-font-scale;
      line-height: $small-font-line-height;
    }

  }

}
