// Global print scss rules
//
// This file is for things like @page rules, etc.; for component-specific
// styles prefer @print media queries inside the individual rules.

// Variables
// -----------------------------------------------------------------------------
$print-width: 8.5in;
$print-height: 11in;

$print-bleed: 0.125in;

$print-bottom-margin: 1in;
$print-top-margin: 0.875in;
$print-inner-margin: 1in;
$print-outer-margin: 0.75in;

$print-inner-width: $print-width - ($print-inner-margin + $print-outer-margin);
$print-inner-height: $print-height - ($print-top-margin + $print-bottom-margin);

$print-base-font-size: 9pt;
$print-base-spacing: 0.125in;
$print-base-line-height: 13pt;
$print-paragraph-indent: 0.25in;

$print-background-color: #fff;
$print-text-color: #000;

$print-page-number-size: 7.5pt;

// Default page setup
// -----------------------------------------------------------------------------
// scss-lint:disable PropertySpelling
// @prince-pdf { prince-pdf-page-layout: two-column-right; }
@page {
  size: $print-width $print-height;
  bleed: $print-bleed;
  prince-trim: $print-bleed * 2;
  marks: crop;
}

@page footer:left {
  margin-bottom: $print-bottom-margin;
  margin-left: $print-outer-margin;
  margin-right: $print-inner-margin;
  margin-top: $print-top-margin;

  @bottom-left {
    // content: counter(page) " — " string(sectiontitle);
    content: counter(page);
    font-family: $text-font-family;
    font-size: $print-page-number-size;
  }
  @bottom-right {
    content: string(sectiontitle);
    font-family: $text-font-family;
    font-size: $print-page-number-size;
    text-transform: uppercase;
    letter-spacing: 1pt;
  }
}

// @page footer:left:first {
//   @bottom-right { content: none; }
// }

@page footer:right {
  margin-bottom: $print-bottom-margin;
  margin-left: $print-inner-margin;
  margin-right: $print-outer-margin;
  margin-top: $print-top-margin;

  @bottom-right {
    // content: string(papertitle) " — " counter(page);
    content: counter(page);
    font-family: $text-font-family;
    font-size: $print-page-number-size;
  }
  @bottom-left {
    content: string(papertitle);
    font-family: $text-font-family;
    font-size: $print-page-number-size;
    font-style: italic;
  }
}

@page footer:right:first {
  @bottom-left { content: none; }
}

@page bleed {
  margin: 0;
  @bottom-left { content: none; }
  @bottom-right { content: none; }
}

@page frontmatter:left {
  margin-bottom: $print-bottom-margin;
  margin-left: $print-outer-margin;
  margin-right: $print-inner-margin;
  margin-top: $print-top-margin;
  @bottom-left { content: counter(page, lower-roman); }
}

@page frontmatter:right {
  margin-bottom: $print-bottom-margin;
  margin-left: $print-inner-margin;
  margin-right: $print-outer-margin;
  margin-top: $print-top-margin;
  @bottom-right { content: counter(page, lower-roman); }
}

@page no-footer:left {
  margin-bottom: $print-bottom-margin;
  margin-left: $print-outer-margin;
  margin-right: $print-inner-margin;
  margin-top: $print-top-margin;
  @bottom-left { content: none; }
  @bottom-right { content: none; }
}

@page no-footer:right {
  margin-bottom: $print-bottom-margin;
  margin-left: $print-inner-margin;
  margin-right: $print-outer-margin;
  margin-top: $print-top-margin;
  @bottom-left { content: none; }
  @bottom-right { content: none; }
}

// scss-lint:enable PropertySpelling

@media print {
  .quire-nav-group,
  .quire-nav,
  .quire-menu,
  .quire-search,
  .quire-page__header__page-navigation,
  .quire-section-head .quire-page__section-list__link,
  .quire-section-head .quire-page__section-list__abstract {
    display: none;
  }

  html {
    font-size: $print-base-font-size;
    font-weight: 400;
    line-height: $print-base-line-height;
  }

  .q-figure__table-wrapper {
    column-span: all;
    margin-bottom: 1em;
    margin-top: 1em;
    font-size: 8pt;
  }

  .q-figure__table-wrapper + figcaption {
    column-span: all;
  }

  hr {
    margin: 1em auto;
    letter-spacing: 6pt;
  }

  .quire-pdf__title {
    string-set: papertitle content();
  }
  .quire-pdf__section {
    string-set: sectiontitle content();
  }

  h2, h3, h4, h5, h6 {
    prince-bookmark-level: none;
  }
  strong {
    font-weight: 700;
  }

  .quire-section-head .quire-page {
    page: bleed;
    width: 9in;
    height: 11.5in;
    margin-top: -.25in;
    margin-left: -.25in;
    background-size: 9in 11.5in;
    background-color: $primary-color;
    padding-top: 4.25in;
    padding-bottom: -4.25in;
  }
  .quire-section-head h1 {
    color: #fff;
  }
  .quire-section-head .quire-page__section-list,
  .quire-section-head hr {
    display: none;
  }

  .quire-page {
    page: footer;
    page-break-before: always;

    p + p,
    figure + p {
      text-indent: 1.5em;
    }

    &__header {
      &__number {
        font-size: 14pt;
      }
      &__title {
        line-height: 32pt;
      }
      &__contributor {
          margin-top: 1em;
          margin-left: 0;
          padding-left: 0;
        }
    }

    &__content {
      column-count: 2;
      column-gap: 0.25in;
      margin-top: .75in;

      &__main,
      &__references {
        // column-count: 1;
      }

      &__main {
        h2 {
          font-size: 12pt;
          line-height: 17.5pt;
          margin-top: 12pt;
          margin-bottom: 4pt;
        }
        blockquote {
          margin-left: 1.5em;
          margin-right: 1.5em;
          p,
          p + p {
            text-indent: 0;
            margin-bottom: 6pt;
          }
        }
        ul {
          margin-left: 1.5em;
        }
        .q-contributors__list__item {
          margin-left: 0;
          padding-left: 0;
          p {
            text-indent: 0;
          }
        }
        .attribution {
          margin-top: .75em;
          margin-right: .75em;
          text-indent: 0;
        }
      }

      &__references {
        h2 {
          font-size: 12pt;
          line-height: 17.5pt;
          margin-top: 12pt;
          margin-bottom: 4pt;
        }
        dt {
          font-size: 8pt;
          line-height: 11.5pt;
          margin-top: 0;
        }
        dd {
          font-size: 8pt;
          line-height: 11.5pt;
          margin-bottom: 6pt;
        }
      }

      &__abstract {
        column-span: all;
        font-size: 8pt;
        line-height: 11.5pt;
        width: 5in;
        margin: 0 auto;
        h2 {
          display: none;
        }
        hr {
          margin-bottom: 2em;
        }
      }

    }

    .footnote-ref {
      font-size: 6.5pt;
      font-weight: bold;
      position: relative;
      top: 2pt;
    }

    .footnotes {
      font-size: 8pt;
      line-height: 11.5pt;
      ol {
        margin-left: 18pt;
        li ol {
          margin-left: 6pt;
        }
      }
    }
  }

  .visually-hidden {
    display: none;
  }

  figure {
    page-break-inside: avoid;
    break-inside: avoid;
  }
  .q-figure-credit {
    font-size: 6.5pt;
    line-height: 1.35em;
  }

  .q-figure {
    margin: 1em 0;

    &__inner-figure {
      margin-bottom: 1.25em;
    }

    &__inner-figure:last-child {
      margin-bottom: 0;
    }

    &.q-float-left {
      margin-right: 12pt;
    }
    &.q-float-right {
      margin-left: 10pt;
    }

    figcaption {
      margin-top: 0.5em;
    }
  }

  .q-contributors__list {
    margin-left: 0;
    padding-left: 0;
  }

  // #contents .quire-page__content {
  //   column-count: 1;
  // }

  .quire-contents {
    column-span: all;
    a {
      display: block;
    }
    a::after {
      content: leader(dotted) ' ' target-counter(attr(href, url), page);
    }
    .quire-contents__page__separator {
      display: none;
    }
    &__section {
      padding-left: 18pt;
      font-weight: bold;
    }
  }

}
