// Global print scss rules
//
// This file is for things like @page rules, etc.; for component-specific
// styles prefer @print media queries inside the individual rules.

// Variables
// -----------------------------------------------------------------------------
$print-width: 8.5in;
$print-height: 11in;

$print-bleed: 0.125in;

$print-bottom-margin: 1in;
$print-top-margin: 0.875in;
$print-inner-margin: 1in;
$print-outer-margin: 0.75in;

$print-inner-width: $print-width - ($print-inner-margin + $print-outer-margin);
$print-inner-height: $print-height - ($print-top-margin + $print-bottom-margin);

$print-base-font-size: 9pt;
$print-base-spacing: 0.125in;
$print-base-line-height: 1.4;
$print-paragraph-indent: 0.25in;

$print-background-color: #fff;
$print-text-color: #000;

$print-page-number-size: 7.5pt;

// Default page setup
// -----------------------------------------------------------------------------
// scss-lint:disable PropertySpelling
// @prince-pdf { prince-pdf-page-layout: two-column-right; }
@page {
  size: $print-width $print-height;
  bleed: $print-bleed;
  prince-trim: $print-bleed * 2;
  marks: crop;
}

@page footer:left {
  margin-bottom: $print-bottom-margin;
  margin-left: $print-outer-margin;
  margin-right: $print-inner-margin;
  margin-top: $print-top-margin;

  @bottom-left {
    //content: counter(page) "\2003" string(doctitle);
    content: counter(page);
    font-family: $text-font-family;
    font-size: $print-page-number-size;
  }
}

@page footer:right {
  margin-bottom: $print-bottom-margin;
  margin-left: $print-inner-margin;
  margin-right: $print-outer-margin;
  margin-top: $print-top-margin;

  @bottom-right {
    content: counter(page);
    font-family: $text-font-family;
    font-size: $print-page-number-size;
  }
}

@page bleed {
  margin: 0;
  @bottom-left { content: none; }
  @bottom-right { content: none; }
}

@page frontmatter:left {
  margin-bottom: $print-bottom-margin;
  margin-left: $print-outer-margin;
  margin-right: $print-inner-margin;
  margin-top: $print-top-margin;
  @bottom-left { content: counter(page, lower-roman); }
}

@page frontmatter:right {
  margin-bottom: $print-bottom-margin;
  margin-left: $print-inner-margin;
  margin-right: $print-outer-margin;
  margin-top: $print-top-margin;
  @bottom-right { content: counter(page, lower-roman); }
}

@page no-footer:left {
  margin-bottom: $print-bottom-margin;
  margin-left: $print-outer-margin;
  margin-right: $print-inner-margin;
  margin-top: $print-top-margin;
  @bottom-left { content: none; }
  @bottom-right { content: none; }
}

@page no-footer:right {
  margin-bottom: $print-bottom-margin;
  margin-left: $print-inner-margin;
  margin-right: $print-outer-margin;
  margin-top: $print-top-margin;
  @bottom-left { content: none; }
  @bottom-right { content: none; }
}

// scss-lint:enable PropertySpelling

@media print {
  .quire-nav-group,
  .quire-nav,
  .quire-menu,
  .quire-search,
  .quire-page__header__page-navigation,
  .quire-section-head .quire-page__section-list__link,
  .quire-section-head .quire-page__section-list__abstract {
    display: none;
  }

  html {
    font-size: $print-base-font-size;
    font-weight: 400;
    line-height: $print-base-line-height;
  }

  table {
    column-span: all;
    margin-bottom: 1em;
    margin-top: 1em;
  }

  hr {
    margin: 1em auto;
  }
  h2 {
    line-height: 1.2em;
    prince-bookmark-level: none;
  }
  h3 {
    prince-bookmark-level: none;
  }
  strong {
    font-weight: 700;
  }

  .quire-section-head .quire-page {
    page: bleed;
    width: 9in;
    height: 11.5in;
    margin-top: -.25in;
    margin-left: -.25in;
    background-size: 9in 11.5in;
    background-color: $primary-color;
    padding-top: 4.25in;
    padding-bottom: -4.25in;
  }
  .quire-section-head h1 {
    color: #fff;
  }
  .quire-section-head .quire-page__section-list,
  .quire-section-head hr {
    display: none;
  }

  .quire-page {
    page: footer;
    page-break-before: always;

    p + p,
    figure + p {
      text-indent: 1.5em;
    }

    &__header__number {
      font-size: 14pt;
    }

    &__header__contributor {
        margin-left: 0;
        padding-left: 0;
      }

    &__content {
      column-count: 2;
      column-gap: 0.25in;
      margin-top: .75in;

      &__main,
      &__references {
        column-count: 1;
      }

      &__main {
        blockquote {
          margin-left: 1.5em;
          margin-right: 1.5em;
          p,
          p + p {
            text-indent: 0;
            margin-bottom: 6pt;
          }
        }
        ul {
          margin-left: 1.5em;
        }
        .q-contributors__list__item {
          margin-left: 0;
          padding-left: 0;
          p {
            text-indent: 0;
          }
        }
      }

      &__references {
        font-size: 8pt;
        line-height: .8rem;
        dt {
          margin-top: 0;
        }
        dd {
          margin-bottom: 6pt;
        }
      }

      &__abstract {
        column-span: all;
        font-size: 8pt;
        line-height: .8rem;
        width: 5in;
        margin: 0 auto;
        h2 {
          display: none;
        }
        hr {
          margin-bottom: 2em;
        }
      }

    }
    .footnotes {
      font-size: 8pt;
      line-height: .8rem;
      ol {
        margin-left: 1.5em;
      }
    }
  }

  .visually-hidden {
    display: none;
  }

  figure {
    page-break-inside: avoid;
    break-inside: avoid;
  }
  .q-figure-credit {
    font-size: 6.5pt;
    line-height: 1.35em;
  }

  .q-figure {
    margin: 1em 0;

    &.q-float-left {
      margin-right: 10pt;
    }
    &.q-float-right {
      margin-left: 6pt;
    }

    figcaption {
      margin-top: 0.5em;
    }
  }

  .q-contributors__list {
    margin-left: 0;
    padding-left: 0;
  }

  #contents .quire-page__content {
    column-count: 1;
  }

}
