.quire-search {
  position: absolute;
  right: $base-spacing;
  top: $base-spacing;

  button {
    background-color: inherit;
    border: 0;
    padding: 0;
  }

  svg {
    fill: $primary-color;
    height: 1.125rem;
    width: 1.125rem;
  }

  .tool-tip { display: none; }

  &.no-js {
    // display: none;
    svg { fill: $light-neutral; }
    div { display: none; }

    button:hover,
    button:focus {
      .tool-tip {
        background-color: $light-neutral;
        border-radius: 0.25em;
        color: $dark-neutral;
        display: block;
        font-size: 1rem * $small-font-scale;
        line-height: $small-font-line-height;
        padding: 1em;
        position: absolute;
        right: 0;
        text-align: left;
        top: 1em;
        width: 12em;

        a {
          color: $dark-neutral;
          text-decoration: underline;
        }
      }
    }
  }
}

.search-input {
  font-size: 1.25em;
  padding: 0.25rem;
  width: 100%;
}

.quire-search-results {
  &__inner {}
  &__inner__list {}
  &__inner__list__item {}
}
