$base-spacing: 1rem;

$primary-color: #b56221;
$base-text-color: #333;
$light-text-color: #999;
$pale-background: #ddd;
$white: #fff;

$text-font-family: 'Fira Sans', sans-serif;
$heading-font-family: 'Playfair Display', serif;

$small-font-scale: .8;
$small-font-line-height: 1.5em;
