$base-spacing: 1rem;

$primary-color: #995326;

$black: #313131;
$dark-neutral: #727272;
$mid-neutral: #b2b2b2;
$light-neutral: #eaeaea;
$white: #fff;

$text-font-family: 'Open Sans', sans-serif;
$heading-font-family: 'Lato', sans-serif;
$interface-font-family: 'Lato', sans-serif;

// $text-font-family: 'Fira Sans', sans-serif;
// $heading-font-family: 'Playfair Display', serif;

$small-font-scale: .85;
$small-font-line-height: 1.6em;
