$base-spacing: 1rem;

$base-text-color: #333;
$light-text-color: #999;
$primary-color: #b56221;


$text-font-family: 'Fira Sans', sans-serif;
$heading-font-family: 'Playfair Display', serif;

$small-font-scale: 80%;
$small-font-line-height: 1.5em;
