<!DOCTYPE html>
<html lang="{{ .Site.Data.publication.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ .Title }} &middot; {{ .Site.Data.publication.title }}</title>
    {{ partial "metadata.html" . }}
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Open+Sans:300,300i,400,400i" rel="stylesheet">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/assets/css/application.css">
  </head>
  <body>
    <main role="main" id="main-content">
    {{ range where .Site.Pages "Params.pdf" "!=" "false"  }}
      <div class="quire-page">
        <header class="quire-page__header">
            <h1 class="quire-page__header__title">{{ .Title }}</h1>
        </header>
        <div class="quire-page__content__main">
          {{ .Content }}
        </div>
      </div>
    {{ end }}
    </main>
  </body>
</html>
