<nav class="quire-nav" role="navigation" aria-label="quick">
  <ul>
    {{ template "if-previous" . }}
    {{ if eq .Type "cover" }}
    <li>
      <a href="{{ .Site.BaseURL }}" rel="start">
        <span class="visually-hidden">Home Page: </span>
        {{ if .Site.Data.publication.short_title }}
          {{ .Site.Data.publication.short_title | markdownify }}
        {{ else }}
          {{ .Site.Data.publication.title | markdownify }}
        {{ end }}
      </a>
    </li>
    {{ else }}
    <li>
      <a href="{{ .Site.BaseURL }}">
        <span class="visually-hidden">Home Page: </span>
        {{ if .Site.Data.publication.short_title }}
          {{ .Site.Data.publication.short_title | markdownify }}
        {{ else }}
          {{ .Site.Data.publication.title | markdownify }}
        {{ end }}
      </a>
    </li>
    {{ if .Section }}
    {{ if ne .Type "section-head"}}
    <li class="quire-nav__section-link">
      <a href="/{{ .Section }}/">
        <span class="visually-hidden">Section: </span>
        <span class="quire-pdf__section">{{ .Section | humanize | title }}</span>
      </a>
    </li>
    {{ end }}
    {{ end }}
    <li class="quire-nav__current-page-link">
      <span class="visually-hidden">Current Page: </span>
      <span class="quire-pdf__title">
        <em>{{ if .Params.short_title }}{{ .Params.short_title | markdownify }} {{ else }}{{ .Title | markdownify | truncate 40 }}{{ end }}</em>
      </span>
    </li>
    {{ end }}
    {{ template "if-next" . }}
  </ul>
</nav>


{{- define "if-previous" -}}
{{- if .Prev -}}
{{- if and (ne .Prev.Params.online false) (ne .Prev.Type "data") -}}
<li>
  <a href="{{ .Prev.Permalink }}" rel="prev" id="js-prev" >
    <svg height="1em" width="1em">
      <switch>
        <use xlink:href="#left-arrow-icon">
        </use>
        <foreignObject width="1em" height="1em">
          <img src="{{ .Site.BaseURL }}/assets/img/icons/left-arrow-icon.png" alt="" />
        </foreignObject>
      </switch>
    </svg>
    <span class="visually-hidden">Previous Page (left keyboard arrow or swipe)</span>
  </a>
</li>
{{- else -}}
  {{ template "if-previous" .Prev }}
{{- end -}}
{{- end -}}
{{- end -}}


{{- define "if-next" -}}
{{- if .Next -}}
{{- if and (ne .Next.Params.online false) (ne .Next.Type "data") -}}
<li>
  <a href="{{ .Next.Permalink }}" rel="next" id="js-next">
    <svg width="1em" height="1em">
      <switch>
        <use xlink:href="#right-arrow-icon">
        </use>
        <foreignObject width="1em" height="1em">
          <img src="{{ .Site.BaseURL }}/assets/img/icons/right-arrow-icon.png" alt="" />
        </foreignObject>
      </switch>
    </svg>
    <span class="visually-hidden">Next Page (right keyboard arrow or swipe)</span>
  </a>
</li>
{{- else -}}
  {{ template "if-next" .Next }}
{{- end -}}
{{- end -}}
{{- end -}}
