.quire-body.quire-body-type--cover .quire-nav-group {
  background-color: #542E15;
}

.quire-body-type--cover .quire-nav-group .quire-nav a {
  color: #eaeaea;
}

.quire-body-type--cover .quire-nav-group svg {
  fill: #eaeaea;
}

.quire-body-type--cover .quire-nav-group .quire-menu__button[aria-expanded=true] svg {
  fill: #995326;
}

.quire-cover__footer {
  background-color: #eaeaea;
}

ul.quire-contents .quire-contents__page--abstract-list {
  display: none;
}

table#table-23-appendix {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

table#table-23-appendix td {
  vertical-align: top;
}

table#table-23-appendix thead tr th:first-child {
  width: 8em;
}

#table-46-2 img {
  max-width: 360px;
}

#congresses ol li {
  font-weight: 400;
}

#congresses ol li p:nth-child(n+2) {
  font-weight: 300;
}

@media print {

  /*h2#note-to-the-reader,
  h2#acknowledgments,
  h2#notes,
  #bibliography h2 {
    font-weight: 400;
  }*/

  ul.quire-contents .quire-contents__page--abstract-list {
    display: inherit;
  }

  #introduction .quire-page__content {
    column-fill: auto;
  }

  #large-scale-bronzes-1-plattner-gschwantler-vak table:first-of-type {
    column-break-before: always;
  }

  #table-37-3,
  #table-37-4,
  #table-42-1,
  #table-42-2,
  #table-43-1 {
    page: rotated;
  }

  #table-36-2 th:nth-child(1) {
    width: .75in;
  }

  #table-36-2 th:nth-child(2) {
    width: 2in;
  }

  #table-40-1 th:nth-child(n+4) {
    width: .25in;
    text-align: center;
  }

  #table-40-1 td {
    text-align: center;
  }

  #table-42-1 figcaption {
    margin-bottom: .5in;
  }

  #table-40-1 .q-figure__table-wrapper,
  #table-42-1 .q-figure__table-wrapper,
  #table-42-2 .q-figure__table-wrapper,
  #table-43-1 .q-figure__table-wrapper {
    font-size: 5.5pt;
  }

  #table-42-1 th:nth-child(-n+2) {
    width: .375in;
  }
  #table-42-1 th:nth-child(3) {
    width: .3125in;
  }
  #table-42-1 th:nth-child(4) {
    width: .125in;
  }
  #table-42-1 tr:first-child th:nth-child(n+14){
    width: .1875in;
  }

  #table-43-1 th:nth-child(-n+2) {
    width: .53125in;
  }
  #table-43-1 th:nth-child(3) {
    width: .125in;
  }
  #table-43-1 tr:first-child th:nth-child(n+13){
    width: .1875in;
  }

  th, td {
    padding: .25em;
  }

  .q-pdf-two-column.q-figure-grid .q-figure__inner-figure.q-grid-2 {
    width: 3.25in;
    margin-right: .25in;
  }

  table#table-23-appendix {
    column-span: none;
  }

  #congresses ol {
    margin-left: 18pt;
    margin-top: 0;
  }

  #congresses ol li {
    margin-top: 0;
    margin-bottom: 9pt;
    font-weight: bold;
    page-break-inside: avoid;
    break-inside: avoid;
  }

  #congresses ol li p:nth-child(2),
  #congresses ol li p:nth-child(3),
  #congresses ol li p:nth-child(4) {
    font-weight: normal;
    margin-top: 3pt;
  }

  #foreword .quire-page__content .quire-page__content__contributor li {
    margin-top: 6pt;
    margin-right: 18pt;
  }

  .quire-page__content__main .quire-page__section-list,
  .quire-page__content__main .quire-page__section-list .quire-page__section-list__item__contributor  {
    margin-left: 0;
    padding-left: 0;
  }

  #abstracts .quire-page__section-list__abstract {
    font-size: 7.5pt;
    line-height: 11pt;
  }

  #abstracts .quire-page__section-list__abstract p {
    text-indent: .25in;
  }

  .quire-page__content__main ul.quire-page__section-list__item__contributor {
    margin-bottom: .5em;
    font-size: 10pt;
    line-height: 14.25pt;
  }

  .quire-page__content__main ul.quire-page__section-list__item__contributor li {
    margin-bottom: 0;
  }

  #copyright .quire-page,
  #contents .quire-page {
    page: no-footer;
  }

  #copyright .quire-page {
    font-size: 6.5pt;
    line-height: 10.5pt;
    margin-right: 2in;
  }

  #copyright .quire-page__header {
    display: none;
  }

  #copyright .quire-page__content {
    column-count: 1;
  }

  #contents .quire-contents {
    margin-left: 0;
    padding-left: 0;
  }

  .quire-body#introduction {
    counter-reset: page 1;
    /*page-break-before: right;*/
  }

  .quire-body#introduction .quire-page {
    page: intro;
  }

  .quire-contents .quire-contents__page:first-child {
    display: none;
  }

  .quire-body.quire-body-type--cover .quire-nav-group {
    background-color: transparent;
  }

  .quire-body-type--cover .quire-nav-group .quire-nav a {
    color: #995326;
  }

  #frontmatter-break .quire-page {
    page: bleed;
    width: 9in;
    height: 11.25in;
    margin-top: -.25in;
    margin-left: -.25in;
    margin-bottom: -.25in;
    padding-top: .25in;
    background-image: url("../img/figures/fig_23.03_Albertson.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }


  #statuettes-13-barr-sharrar #fig-13-5 {
    width: 90%;
  }

}