{{ if .Get "id" }}
<figure class="q-figure{{ with .Get "class" }} q-{{ . }}{{ end }} {{ with .Get "grid" }}q-figure-grid{{ end }}{{ with .Get "grid-align" }} q-grid-{{ . }}{{ end }}">
{{ $idstring := replace (.Get "id") " " "" }}
{{ $idlist := split $idstring "," }}
{{ range $idlist }}
{{ $x := . | string }}
  {{ range where $.Site.Data.figures.figure_list "id" "eq" $x }}
  <figure class="q-figure__inner-figure" id="{{ .id }}" {{ with $.Get "grid" }}style="flex-basis: calc( (100% - {{.}}rem) / {{.}})"{{ end }}>
  <div class="q-figure__wrapper">
    <img  src="/assets/img/figures/{{ .src }}" alt="{{ if $.Get "alt" }}{{ $.Get "alt" }}{{ else }}{{ .alt }}{{ end }}" />
    {{ if eq ($.Get "label") "true" }}
      {{ if .label }}
      <span class="q-figure-label">{{ .label | markdownify }}</span>
      {{ else }}
      <span class="q-figure-label">{{ $.Site.Params.imageLabelContentBefore }}{{ .id }}</span>
      {{ end }}
    {{ end }}
  </div>
    {{ if or ($.Get "caption") ($.Get "credit") }}
    {{ else }}
    <figcaption><span class="q-figure-label">{{ $.Site.Params.imageLabelContentBefore }}{{ .id }}{{ $.Site.Params.imageLabelContentAfter }}</span>{{ .caption | markdownify }}{{ with .credit }} <span class="q-figure-credit">{{ . | markdownify }}</span>{{ end }}</figcaption>
    {{ end }}
  </figure>
  {{ end }}
{{ end }}
{{ if or (.Get "caption") (.Get "credit") }}
<figcaption>{{ with .Get "caption" }}{{ . | markdownify }}{{ end }}{{ with .Get "credit" }} <span class="q-figure-credit">{{ . | markdownify }}</span>{{ end }}</figcaption>
{{ end }}
</figure>
{{ end }}
