{{ if .Get "id" }}
<figure class="q-figure {{ with $.Get "class" }}q-{{ . }}{{ end }}">
{{ $idstring := replace (.Get "id") " " "" }}
{{ $idlist := split $idstring "," }}
{{ range $idlist }}
{{ $x := . | string }}
  {{ range where $.Site.Data.figures.figure_list "id" "eq" $x }}
  <figure class="q-figure__inner-figure" id="{{ .id }}">
  <div class="q-figure__wrapper">
    <img  src="/figures/{{ .src }}" alt="{{ if $.Get "alt" }}{{ $.Get "alt" }}{{ else }}{{ .alt }}{{ end }}" />
    {{ if eq ($.Get "label") "true" }}
    <span class="q-figure-label">{{ $.Site.Params.imageLabelContentBefore }}{{ .id }}</span>
    {{ end }}
  </div>
    {{ if $.Get "caption" }}
    {{ else }}
    <figcaption><span class="q-figure-label">{{ $.Site.Params.imageLabelContentBefore }}{{ .id }}{{ $.Site.Params.imageLabelContentAfter }}</span> {{ .caption | markdownify }}</figcaption>
    {{ end }}
  </figure class="q-figure__inner-figure">
  {{ end }}
{{ end }}
{{ with .Get "caption" }}
<figcaption>{{ . | markdownify }}</figcaption>
{{ end }}
</figure>
{{ end }}
