[lang=grc] {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 20px;
}

.footnotes [lang=grc],
.quire-page__content__references [lang=grc] {
  font-size: 0.9rem;
}


@media screen and (max-width: 1010px),
(orientation: landscape) {
  .quire-cover__inner__title {
    max-width: 500px;
    font-size: 6.5vh;
  }
  .quire-cover__inner__subtitle {
    font-size: 5.525vh;
    margin-top: 0;
  }
  .quire-cover__inner__reading-line {
    font-size: 3.8675vh;
    max-width: 400px;
    margin-top: 3.5vh;
  }
}


@media screen and (max-width: 900px)
and not screen and (orientation: landscape) {
  .quire-cover__inner__title {
    font-size: 5.525vh;
  }
  .quire-cover__inner__subtitle {
    font-size: 4.696vh;
    line-height: 1.25;
  }
  .quire-cover__inner__reading-line {
    font-size: 3.287vh;
    max-width: 300px;
  }
  .quire-cover__inner__contributor {
    margin-top: 6vh;
  }
}

@media screen and (max-width: 690px) and not (orientation: landscape),
  screen and (orientation: portrait) {

  .quire-cover__background {
    background-image: url("../img/cover_bg_center.jpg");
    background-position: center top;
  }
  .quire-cover__screen {
    position: absolute;
    width: 100%;
    height: 50vh;
    background-size: cover;
    background: #994e1a;
    background: -webkit-linear-gradient(rgba(84,46,21,0), rgba(84,46,21,1));
    background: -o-linear-gradient(rgba(84,46,21,0), rgba(84,46,21,1));
    background: -moz-linear-gradient(rgba(84,46,21,0), rgba(84,46,21,1));
    background: linear-gradient(rgba(84,46,21,0), rgba(84,46,21,1));
  }
  .quire-cover__inner__title,
  .quire-cover__inner__reading-line,
  .quire-cover__inner__contributor  {
    text-align: center;
    max-width: none;
    color: #efebec;
    margin-top: 0;
  }
  .quire-cover__inner__title {
    margin-bottom: 0;
    font-size: 5.5vh;
    line-height: 1.25;
  }
  .quire-cover__inner__subtitle {
    /*margin-top: .2em;*/
    font-size: 3.7vh;
    line-height: 1.25;
  }
  .quire-cover__inner__reading-line {
    font-size: 2.794vh;
    line-height: 1.5;
  }
  .quire-cover__inner__reading-line,
  .quire-cover__inner__contributor {
    margin-top: 2vh;
  }
  .quire-cover__inner__contributor {
    margin-bottom: 4vh;
    line-height: 1.5;
  }
  .quire-cover__inner__contributor ul li {
    display: inline;
    font-weight: 300;
    white-space: pre;
  }
  .quire-cover__inner__contributor ul li:nth-child(2)::after {
    content: ",";
  }
  .quire-cover__inner__contributor ul li:nth-child(3)::after {
    content: ", and";
  }
}

@media screen and (min-width: 691px) and (orientation: portrait) {
  .quire-cover__screen {
    height: 40vh;
  }
}


.quire-cover__inner__contributor ul li:first-child {
  font-weight: 300;
}

.quire-body.quire-body-type--cover .quire-nav-group {
  background-color: #542E15;
}

.quire-body-type--cover .quire-nav-group .quire-nav a {
  color: #efebec;
}

.quire-body-type--cover .quire-search svg,
.quire-body-type--cover .quire-menu__button svg,
.quire-body-type--cover .quire-nav svg {
  fill: #efebec;
}

.quire-body-type--cover .quire-nav-group .quire-menu__button[aria-expanded=true] svg {
  fill: #994e1a;
}

#about .quire-link-list {
  list-style-type: none;
  padding-left: .75em;
}

#about .quire-link-list li:first-child .quire-link-list__icon,
.quire-menu__inner__links:first-of-type li:first-child .quire-link-list__icon {
  margin-bottom: -.15em;
}

#about .quire-link-list li:nth-child(2),
#about .quire-link-list li:nth-child(3),
.quire-menu__inner__links:first-of-type ul li:nth-child(2),
.quire-menu__inner__links:first-of-type ul li:nth-child(3) {
  margin-left: 1.5em;
}

.quire-cover__footer {
  background-color: #efebec;
}

ul.quire-contents .quire-contents__page--abstract-list {
  display: none;
}

.quire-page__section-list .quire-page__section-list__item .quire-page__section-list__abstract p {
  margin-bottom: 0;
  text-indent: 2rem;
}

#table-23-appendix table {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  font-size: .85rem;
}

#table-23-appendix table td {
  vertical-align: top;
}

#table-23-appendix table th {
  color: #5e5e5e;
}

#table-23-appendix table thead tr th:first-child,
#table-23-appendix table tbody tr td:first-child {
  width: 6em;
}

#table-23-appendix table ul {
  padding-left: 0;
  margin-left: 0;
  text-indent: 0;
}

#table-30-1 th:nth-child(-n+2) {
  width: 4em;
}

#table-46-2 img {
  max-width: 360px;
}

#congresses ol li {
  font-weight: 400;
}

#congresses ol li p:nth-child(n+2) {
  font-weight: 300;
}

#appendix-list-of-the-paramythia-bronzes {
  font-size: 1.25rem;
  color: #727272;
}
#donated-by-richard-payne-knight,
#donated-by-john-hawkins,
#belonging-to-the-czernicheff-family,
#owner-location-unknown {
  color: #727272;
  font-size: 1rem;
}
#appendix-list-of-the-paramythia-bronzes + p,
#donated-by-richard-payne-knight + ol,
#donated-by-john-hawkins + ol,
#belonging-to-the-czernicheff-family + p,
#belonging-to-the-czernicheff-family + p + ol,
#owner-location-unknown + ol {
  font-size: 0.85rem;
  line-height: 1.6em;
}

#vessels-28-fani .q-figure.q-figure-grid .q-figure__inner-figure.q-grid-4 {
  flex-basis: auto;
}


#vessels-28-fani #fig-28-1,
#vessels-28-fani #fig-28-4 {
  width: 28.05%;
}

#vessels-28-fani #fig-28-2,
#vessels-28-fani #fig-28-3 {
  width: 17.45%;
}

@media print {

  @page footer:right {
    @bottom-left {
      content: string(papertitle);
    }
  }

  [lang=grc] {
    font-weight: 400;
    font-size: 8.5pt;
  }

  ul.quire-contents .quire-contents__page--abstract-list {
    display: inherit;
  }

  #introduction .quire-page__content {
    column-fill: auto;
  }

  #large-scale-bronzes-1-plattner-gschwantler-vak table:first-of-type {
    column-break-before: always;
  }

  #large-scale-bronzes-1-plattner-gschwantler-vak ul {
    page-break-inside: avoid;
  }

  #large-scale-bronzes-1-plattner-gschwantler-vak blockquote > ul:first-of-type {
    page-break-after: always;
  }

  #table-37-3,
  #table-37-4,
  #table-42-1,
  #table-42-2,
  #table-43-1 {
    page: rotated;
  }

  #table-30-1 th:nth-child(-n+2) {
    width: auto;
  }

  #table-30-1 th:nth-child(n+4) {
    width: .34375in;
  }

  #table-36-2 th:nth-child(1) {
    width: .75in;
  }

  #table-36-2 th:nth-child(2) {
    width: 2in;
  }

  #table-37-3 thead tr:first-child th:nth-child(-n+2),
  #table-37-3 thead tr:first-child th:nth-child(4) {
    width: .5in;
  }

  #table-37-3 thead tr:first-child th:nth-child(5) {
    width: 1.625in;
  }

  #table-37-3 thead tr:first-child th:nth-child(6) {
    width: 3.25in;
  }

  #table-40-1 th:nth-child(n+4) {
    width: .25in;
    text-align: center;
  }

  #table-40-1 td {
    text-align: center;
  }

  #table-37-3 figcaption,
  #table-42-1 figcaption {
    margin-bottom: .5in;
  }

  #table-41-1 figcaption {
    page-break-after: always;
  }

  #table-37-3 .q-figure__table-wrapper,
  #table-37-4 .q-figure__table-wrapper,
  #table-40-1 .q-figure__table-wrapper,
  #table-42-1 .q-figure__table-wrapper,
  #table-42-2 .q-figure__table-wrapper,
  #table-43-1 .q-figure__table-wrapper {
    font-size: 5.5pt;
  }

  #table-42-1 th:nth-child(-n+2) {
    width: .375in;
  }
  #table-42-1 th:nth-child(3) {
    width: .3125in;
  }
  #table-42-1 th:nth-child(4) {
    width: .125in;
  }
  #table-42-1 tr:first-child th:nth-child(n+14){
    width: .1875in;
  }

  #table-43-1 th:nth-child(-n+2) {
    width: .53125in;
  }
  #table-43-1 th:nth-child(3) {
    width: .125in;
  }
  #table-43-1 tr:first-child th:nth-child(n+13){
    width: .1875in;
  }

  th, td {
    padding: .25em;
  }

  .q-pdf-two-column.q-figure-grid .q-figure__inner-figure.q-grid-2 {
    width: 3.25in;
    margin-right: .25in;
  }

  #table-23-appendix table {
    column-span: none;
  }

  #congresses ol {
    margin-left: 18pt;
    margin-top: 0;
  }

  #congresses ol li {
    margin-top: 0;
    margin-bottom: 9pt;
    font-weight: bold;
    page-break-inside: avoid;
    break-inside: avoid;
  }

  #congresses ol li p:nth-child(2),
  #congresses ol li p:nth-child(3),
  #congresses ol li p:nth-child(4) {
    font-weight: normal;
    margin-top: 3pt;
  }

  #foreword .quire-page__content .quire-page__content__contributor li {
    margin-top: 6pt;
    margin-right: 18pt;
  }

  .quire-page__content__main .quire-page__section-list,
  .quire-page__content__main .quire-page__section-list .quire-page__section-list__item__contributor  {
    margin-left: 0;
    padding-left: 0;
  }

  .quire-body-type--essay--abstract-list .quire-page__section-list__abstract {
    font-size: 7.5pt;
    line-height: 11pt;
  }

  .quire-body-type--essay--abstract-list .quire-page__section-list__abstract p {
    /*text-indent: .25in;*/
    text-indent: 1.5em;
  }

  .quire-page__content__main ul.quire-page__section-list__item__contributor {
    margin-bottom: .5em;
    font-size: 10pt;
    line-height: 14.25pt;
  }

  .quire-page__content__main ul.quire-page__section-list__item__contributor li {
    margin-bottom: 0;
  }

  .quire-body#introduction {
    counter-reset: page 1;
    /*page-break-before: right;*/
  }

  .quire-body#introduction .quire-page {
    page: intro;
  }

  .quire-body.quire-body-type--cover .quire-nav-group {
    background-color: transparent;
  }

  .quire-body-type--cover .quire-nav-group .quire-nav a {
    color: #994e1a;
  }

  #statuettes-15-mcgowan #fig-15-6,
  #statuettes-15-mcgowan #fig-15-7 {
    width: 95%;
  }

  #statuettes-13-barr-sharrar #fig-13-5,
  #the-hellenistic-east-23-albertson #fig-23-5,
  #the-hellenistic-east-23-albertson #fig-23-6,
  #the-hellenistic-east-23-albertson #fig-23-7,
  #conservation-and-analysis-39-salvioli #fig-39-5,
  #conservation-and-analysis-39-salvioli #fig-39-6,
  #conservation-and-analysis-39-salvioli #fig-39-7 {
    width: 90%;
  }


  #statuettes-18-kaufmann #fig-18-1,
  #the-hellenistic-east-22-lindstroem #fig-22-2,
  #conservation-and-analysis-46-kantarelou #fig-46-2,
  #conservation-and-analysis-44-siano #fig-44-1a,
  #conservation-and-analysis-44-siano #fig-44-1b {
    width: 80%;
  }

  #large-scale-bronzes-5-butz #fig-5-1,
  #conservation-and-analysis-36-tykot #fig-36-2,
  #conservation-and-analysis-36-tykot #fig-36-6 {
    width: 70%;
  }


  #artifacts-34-franken #fig-34-1 {
    width: 50%;
  }

  #conservation-and-analysis-46-kantarelou #fig-46-1a,
  #conservation-and-analysis-46-kantarelou #fig-46-1b {
    width: 40%;
  }

  #large-scale-bronzes-8-mattusch .q-figure#fig-8-7 {
    float: left;
    margin-left: 0pt;
    width: 60%;
  }

  #the-artist-9-adornato #fig-9-2,
  #statuettes-16-sharpe #fig-16-15,
  #statuettes-19-grossi #fig-19-7,
  #vessels-24-tarditi #fig-24-8,
  #conservation-and-analysis-35-casaletto #table-35-1 figcaption,
  #conservation-and-analysis-35-casaletto #fig-35-2c,
  #conservation-and-analysis-35-casaletto #fig-35-5,
  #conservation-and-analysis-39-salvioli #fig-39-9,
  #conservation-and-analysis-42-mille-descamps #fig-42-4b,
  #conservation-and-analysis-43-vidovic #fig-43-4c + figcaption,
  #conservation-and-analysis-46-kantarelou #fig-46-4c,
  #conservation-and-analysis-46-kantarelou #table-46-2 figcaption {
    page-break-after: always;
  }

  #conservation-and-analysis-39-salvioli .footnotes ol:first-of-type {
    page-break-after: avoid;
  }

  #large-scale-bronzes-8-mattusch #notes,
  #large-scale-bronzes-8-mattusch #bibliography,
  #large-scale-bronzes-abstracts .quire-page__section-list__item:last-of-type,
  #the-hellenistic-east-abstracts .quire-page__section-list__item:last-of-type,
  #the-artist-10-haga-et-al h2#notes,
  #vessels-27-dedecker .quire-page__content__main p + ol,
  #statuettes-16-sharpe #belonging-to-the-czernicheff-family,
  #statuettes-abstracts .quire-page__section-list__item:nth-child(2),
  #conservation-and-analysis-37-boyatzis #notes {
    column-break-before: always;
  }

  #conservation-and-analysis-41-maish #fig-41-1 {
    column-break-after: always;
  }

  #the-hellenistic-east-23-albertson .quire-page__content__main hr:first-of-type {
    display: none;
  }

  #the-hellenistic-east-23-albertson .quire-page__content__main__backmatter {
    page-break-before: always;
    column-span: all;
  }

  #the-hellenistic-east-23-albertson .quire-page__content__main__backmatter th {
    font-weight: 600;
    color: cmyk(0,0,0,0.7);
  }

  #contents .toc-break::before {
    content: "\A";
    white-space: pre;
  }

  .quire-contents li.quire-contents__section:nth-of-type(6) {
    page-break-before: always;
  }

  #large-scale-bronzes-2-vedder .quire-page__header__title,
  #large-scale-bronzes-4-palagia .quire-page__header__title,
  #large-scale-bronzes-5-butz .quire-page__header__title,
  #large-scale-bronzes-6-pacifico .quire-page__header__title,
  #the-artist-10-haga-et-al .quire-page__header__title,
  #the-artist-11-falaschi .quire-page__header__title,
  #the-artist-12-horne .quire-page__header__title,
  #statuettes-20-veseli .quire-page__header__title,
  #the-hellenistic-east-22-lindstroem .quire-page__header__title,
  #vessels-27-dedecker .quire-page__header__title,
  #vessels-28-fani .quire-page__header__title,
  #artifacts-34-franken .quire-page__header__title,
  #conservation-and-analysis-37-boyatzis .quire-page__header__title,
  #conservation-and-analysis-42-mille-descamps .quire-page__header__title,
  #conservation-and-analysis-45-gansicke .quire-page__header__title {
    max-width: 5.5in;
  }
  #conservation-and-analysis-43-vidovic .quire-page__header__title {
    max-width: 5in;
  }
  #large-scale-bronzes-3-koutsouflakis .quire-page__header__title .quire-subtitle {
    display: block;
  }

}