/*CSS Test*/


a,
code,
.quire-menu__inner__header .quire-title,
.quire-menu__inner__links button,
.quire-cover__inner__title,
.quire-page__header__title,
.quire-page__section-list__link button {
  color: #995326; }

a:active, a:focus, a:hover {
  color: shade(#995326, 25%); }

.quire-nav svg,
.quire-menu__button svg,
.quire-search svg,
.quire-page__section-list__link svg {
  fill: #995326; }



