{{/*

  Adds handling for the `abstracts.md` pages included
  in each section of the publication. The desire was to
  have the papers that were Abstract Only to be listed
  at the end of each section. These pages are
  only included in the PDF and E-book versions, and
  take the place of the main section heads online.
  This was an afterthought and something that would have
  been handled differently in hindsight.

*/}}
{{ define "main" }}
<div class="quire-page">
  <header class="quire-page__header">
    <h1 class="quire-page__header__title">{{ .Title | markdownify }}{{ with .Params.subtitle }}: {{ . | markdownify }}{{ end }}</h1>
  </header>
  <div class="quire-page__content">
    <section class="quire-page__content__main">
      {{ .Content }}
      {{ $sectionName := .Page.Section }}
      <ul class="quire-page__section-list">
      {{ range where .Site.Pages "Section" $sectionName }}
        {{ if eq .Params.layout "abstract-only" }}
        <li class="quire-page__section-list__item">
          <h2 class="quire-page__section-list__item__title">{{ with .Params.id }}{{ . }}. {{ end }}{{ .Title | markdownify }}{{ with .Params.subtitle }}: {{ . | markdownify }}{{ end }}</h2>
          <ul class="quire-page__section-list__item__contributor">
          {{ range .Params.contributor }}
          <li>{{ .first_name }} {{ .last_name }}{{ if or .title .affiliation }}, {{ with .title }}{{ . }}{{ end }}{{ with and .title .affiliation }}, {{ end }}{{ with .affiliation }}{{ . }}{{ end }}{{ end }}</li>
          {{ end }}
          </ul>
          {{ with .Params.abstract }}
          <div class="quire-page__section-list__abstract">
          {{ . | markdownify }}
          </div>
          {{ end }}
        </li>
        {{ end }}
      {{ end }}
      </ul>
    <section>
  </div>
</div>
{{ end }}
