.q-figure {
  font-size: modular-scale(-2);
  width: calc(100% - ($base-spacing * 6));
  margin-bottom: $base-spacing;
  margin-top: $base-spacing;
  margin-right: $base-spacing * 3;
  margin-left: $base-spacing * 3;

  &.q-float-left {
    float: left;
    clear: both;
    width: 45%;
    margin-right: $base-spacing;
    margin-left: 0;
  }

  &.q-float-right {
    float: right;
    clear: both;
    width: 45%;
    margin-left: $base-spacing;
    margin-right: 0;
  }

  &.q-plate {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  &.q-small-center {
    width: 14%;
    margin-left: 43%;
    margin-right: 43%;
  }

  figcaption {
    margin-top: $small-spacing;
  }

  .q-figure-label {
    font-weight: bold;
  }

  @media print {
    column-span: all;
    page-break-inside: avoid;
  }
}
