.quire-search-results {
  @include position(fixed, 0 0 0 0);
  background-color: $light-gray;
  font-family: $heading-font-family;
  height: 100vh;
  opacity: 0;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  transition: all 0.1s ease-in-out;
  visibility: hidden;
  width: 100vw;
  z-index: $z-index-12;

  &__inner {
    line-height: 2.5;
    padding-top: $navbar-height;

    &__list {
      list-style-type: none;
      margin: 0 $base-spacing;

      &__item {
        border-bottom: solid 1px darken($light-gray, 10%);
        padding: $small-spacing / 2;
      }
    }
  }

  &.is-visible { opacity: 1; visibility: visible; }

  @media print {
    display: none;
  }
}
