.quire-toc {
  list-style-type: none;

  li {
    border-bottom: $base-border;
    letter-spacing: 2px;
    padding-bottom: $small-spacing * 1.5;
    padding-top: $small-spacing * 1.5;
    text-transform: uppercase;

    li {
      border-bottom: 0;
      font-size: modular-scale(-1);
      letter-spacing: 0;
      padding-bottom: 0;
      text-transform: initial;
    }
  }

  @media print {
    column-span: all;

    a::after {
      content: leader(dotted) " " target-counter(attr(href, url), page);
    }
  }
}
