<div class="quire-menu no-js" role="banner">
  <button class="expander quire-menu__button no-js">
    <svg width="1em" height="1em"><switch><use xlink:href="#nav-icon"></use><foreignObject width="1em" height="1em"><img src="{{ .Site.BaseURL }}/assets/img/icons/nav-icon.png" alt="" /></foreignObject></switch></svg>
    <span class="visually-hidden">Menu</span>
  </button>
  <div class="quire-menu__background">
    <div class="quire-menu__inner">
      <header class="quire-menu__inner__header">
        <h2>
          <div class="quire-title">
            {{ if ne .Type "cover"}}<a href="{{ .Site.BaseURL }}">{{ end }}
            <span class="visually-hidden">Publication Info: </span>
            {{ .Site.Data.publication.title | markdownify -}}

            {{- if .Site.Data.publication.subtitle -}}
            <br />
            <span class="quire-title__subtitle">
            {{ .Site.Data.publication.subtitle | markdownify }}
            {{ end }}

            {{ if ne .Type "cover"}}</a>{{ end }}
            </span>

            <span class="quire-title__reading-line">
              {{ if .Site.Data.publication.reading_line }}
              {{ .Site.Data.publication.reading_line | markdownify }}
              {{ end }}
            </span>
          </div>
          <div class="quire-title__contributors">
            {{- if .Site.Data.publication.contributor_as_it_appears -}}
              {{ .Site.Data.publication.contributor_as_it_appears }}
            {{ else if .Site.Data.publication.primary_contributor }}
              <span class="visually-hidden">Contributors: </span>
              {{ partial "contributor-list.html" (dict "contributorRange" .Site.Data.publication.primary_contributor) }}
            {{ else }}
            {{- end -}}
          </div>
        </h2>
      </header>
      <nav class="quire-menu__inner__contents" role="navigation" aria-label="full">
        <h3 class="visually-hidden">Contents</h3>

        {{ partial "contents.html" (dict "contentsScope" .Site "contentsType" .Site.Params.menuType "contentsLocation" "menu" ) }}

      </nav>
      {{ with .Site.Data.publication.formats }}
      <section class="quire-menu__inner__links" role="complementary">
        <h3><button class="heading-expander">Other Formats</button></h3>
        {{ partial "link-list.html" . }}
      </section>
      {{ end }}
      {{ with .Site.Data.publication.related_resources }}
      <section class="quire-menu__inner__links" role="complementary">
        <h3><button class="heading-expander">Related Resources</button></h3>
        {{ partial "link-list.html" . }}
      </section>
      {{ end }}
      <section class="quire-menu__inner__links" role="complementary">
        <h3><button class="heading-expander">Cite this Page</button></h3>
        <div class="quire-menu__inner__links__citation">
          <h4>Chicago</h4>
          <p>
            {{ partial "citation.html" (dict "citeScope" . "citeType" "chicago" ) }}
          </p>
          <h4>MLA</h4>
          <p>
            {{ partial "citation.html" (dict "citeScope" . "citeType" "mla" ) }}
          </p>
            <a href="{{ "about/index.html#citation-information" | relURL }}">Full Catalogue Citation</a>
          </p>
        </div>
      </section>
      <footer role="contentinfo" class="quire-menu__inner__footer">
        <h3 class="visually-hidden">About</h3>
        {{ partial "copyright.html" . }}
        {{ partial "link-list.html" .Site.Data.publication.footer_links }}
      </footer>
    </div>
  </div>
</div>
