<nav id="js-navbar" class="quire-navbar">
  <div class="quire-navbar__left">
    <a href="#main-content" id="skip-navigation" class="quire-navbar__left__skip-link" tabindex="1">
      Skip to Content
    </a>
    {{ if  .Site.Params.searchEnabled }}
    <a id="js-search" href="javascript:void(0);">
      <i class="quire-navbar__search-icon"></i>
    </a>
    {{ end }}
  </div>

  <div class="quire-navbar__center">
    {{ with .Prev }}
    {{ if or (eq .Type "page") (eq .Type "cover") }}
    <a id="js-prev" class="" href="{{ .Permalink }}">
      <i class="quire-navbar__prev-link"></i>
    </a>
    {{ end }}
    {{ end }}

    <div class="quire-navbar__center__info">
      <div class="quire-navbar__center__info">
        {{ if .IsHome }}
        <a class="quire-navbar__site-title" href="{{ .Site.BaseURL }}">
          {{ if .Site.Data.book }}
            {{ .Site.Data.book.title.short }}
          {{ else }}
            {{ .Site.Title }}
          {{ end }}
        </a>
        {{ else }}
        <a class="quire-navbar__site-title" href="{{ .Site.BaseURL }}">
          {{ if .Site.Data.book }}
            {{ .Site.Data.book.title.short }}
          {{ else }}
            {{ .Site.Title }}
          {{ end }}
        </a>
        <i class="quire-navbar__breadcrumb"></i>
        <span class="quire-navbar__page-title">{{ .Title }}</span>
        {{ end }}
      </div>
    </div>

    {{ with .Next }}
    {{ if or (eq .Type "page") (eq .Type "cover") }}
    <a id="js-next" class="" href="{{ .Permalink }}">
      <i class="quire-navbar__next-link"></i>
    </a>
    {{ end }}
    {{ end }}
  </div>

  <div class="quire-navbar__right">
    <a id="js-navbar-menu" href="javascript:void(0);">
      <i class="quire-navbar__menu-icon"></i>
    </a>
  </div>

  <div class="quire-navbar__search-input">
    <input id="js-search-input"
           class="quire-navbar__search-input__search-field"
           name="search"
           type="text"
           placeholder="search"
           value=""/>
  </div>

  <div class="quire-navbar__search-close">
    <a id="js-search-close" href="javascript:void(0);">
      <i class="quire-navbar__search-close-icon"></i>
    </a>
  </div>
</nav>
