{{ $cat := .Params.cat }}
{{ range .Site.Data.catalogue }}
  {{ if eq .cat $cat }}
    <div class="quire-tombstone">
      {{/*
        Any values that live in the catalogue data files can be added to this
        template. For example, if you have a property named `foo` in the YAML
        files in the data/catalogue directory, you can access it via: {{ .foo }}
      */}}
      <table>
        <tr><td>Catalogue Number</td><td>{{ .cat }}</td></tr>
        <tr><td>Inventory Number</td><td>{{ .inv }}</td></tr>
        <tr><td>Culture</td><td>{{ .culture }}, from {{ .location }}</td></tr>
        <tr><td>Material</td><td>{{ .material }}</td></tr>
        <tr><td>Date</td><td>{{ index .date 0 }}&mdash;{{ index .date 1 }}</td></tr>
      </table>
    </div>
  {{ end }}
{{ end }}
