{{ define "main" }}
<div class="quire-page">
  <header class="quire-page__header">
    <h1 class="quire-page__header__title">Search this Publication</h1>
  </header>
  <div class="quire-page__content">
    <section class="quire-page__content__main">
      <div id="js-search">
        <input class="search-input"
               id="js-search-input"
               name="search"
               type="text"
               value=""/>
        {{ partial "search-results.html" . }}
      </div>
    </section>
  </div>
</div>

{{ end }}
