// Global print scss rules
//
// This file is for things like @page rules, etc.; for component-specific
// styles prefer @print media queries inside the individual rules.

// Variables
// -----------------------------------------------------------------------------
$print-width: 8.5in;
$print-height: 11in;

$print-bleed: 0.125in;

$print-bottom-margin: 1in;
$print-top-margin: 0.875in;
$print-inner-margin: 1in;
$print-outer-margin: 0.75in;

$print-inner-width: $print-width - ($print-inner-margin + $print-outer-margin);
$print-inner-height: $print-height - ($print-top-margin + $print-bottom-margin);

$print-base-font-size: 8.5pt;
$print-base-spacing: 0.125in;
$print-base-line-height: 13pt;
$print-paragraph-indent: 0.25in;

$print-text-color: cmyk(0,0,0,1);

$print-dark-neutral: cmyk(0,0,0,0.7);
$print-mid-neutral: cmyk(0,0,0,0.55);
$print-light-neutral: cmyk(0,0,0,0.1);

$print-page-number-size: 7.5pt;

// Default page setup
// -----------------------------------------------------------------------------
// scss-lint:disable PropertySpelling
// @prince-pdf { prince-pdf-page-layout: two-column-right; }
@page {
  size: $print-width $print-height;
  bleed: $print-bleed;
  prince-trim: $print-bleed * 2;
  marks: crop;
}

@page footer:left {
  margin-bottom: $print-bottom-margin;
  margin-left: $print-outer-margin;
  margin-right: $print-inner-margin;
  margin-top: $print-top-margin;

  @bottom-left {
    // content: counter(page) " — " string(sectiontitle);
    content: counter(page);
    font-family: $text-font-family;
    font-size: $print-page-number-size;
  }
  @bottom-right {
    content: string(sectiontitle);
    font-family: $text-font-family;
    // font-size: $print-page-number-size;
    font-size: 6.5pt;
    text-transform: uppercase;
    letter-spacing: 1pt;
  }
}

// @page footer:left:first {
//   @bottom-right { content: none; }
// }

@page footer:right {
  margin-bottom: $print-bottom-margin;
  margin-left: $print-inner-margin;
  margin-right: $print-outer-margin;
  margin-top: $print-top-margin;

  @bottom-right {
    // content: string(papertitle) " — " counter(page);
    content: counter(page);
    font-family: $text-font-family;
    font-size: $print-page-number-size;
  }
  @bottom-left {
    content: string(papernumber) string(papertitle);
    font-family: $text-font-family;
    font-size: $print-page-number-size;
    font-style: italic;
  }
}

@page footer:right:first {
  @bottom-left { content: none; }
}

@page rotated:left {
  prince-rotate-body: 270deg;
  prince-shrink-to-fit: auto;
  margin-bottom: $print-bottom-margin;
  margin-left: $print-outer-margin;
  margin-right: $print-inner-margin;
  margin-top: $print-top-margin;

  @bottom-left {
    // content: counter(page) " — " string(sectiontitle);
    content: counter(page);
    font-family: $text-font-family;
    font-size: $print-page-number-size;
  }
  @bottom-right {
    content: string(sectiontitle);
    font-family: $text-font-family;
    // font-size: $print-page-number-size;
    font-size: 6.5pt;
    text-transform: uppercase;
    letter-spacing: 1pt;
  }
}

@page rotated:right {
  prince-rotate-body: 270deg;
  prince-shrink-to-fit: auto;
  margin-bottom: $print-bottom-margin;
  margin-left: $print-inner-margin;
  margin-right: $print-outer-margin;
  margin-top: $print-top-margin;

  @bottom-right {
    // content: string(papertitle) " — " counter(page);
    content: counter(page);
    font-family: $text-font-family;
    font-size: $print-page-number-size;
  }
  @bottom-left {
    content: string(papertitle);
    font-family: $text-font-family;
    font-size: $print-page-number-size;
    font-style: italic;
  }
}

@page bleed {
  margin: 0;
  @bottom-left { content: none; }
  @bottom-right { content: none; }
}

@page frontmatter:left {
  margin-bottom: $print-bottom-margin;
  margin-left: $print-outer-margin;
  margin-right: $print-inner-margin;
  margin-top: $print-top-margin;
  @bottom-left {
    content: counter(page, lower-roman);
    font-family: $text-font-family;
    font-size: $print-page-number-size;
  }
}

@page frontmatter:right {
  margin-bottom: $print-bottom-margin;
  margin-left: $print-inner-margin;
  margin-right: $print-outer-margin;
  margin-top: $print-top-margin;
  @bottom-right {
    content: counter(page, lower-roman);
    font-family: $text-font-family;
    font-size: $print-page-number-size;
  }
}

@page intro:left {
  margin-bottom: $print-bottom-margin;
  margin-left: $print-outer-margin;
  margin-right: $print-inner-margin;
  margin-top: $print-top-margin;

  @bottom-left {
    content: counter(page);
    font-family: $text-font-family;
    font-size: $print-page-number-size;
  }
}

@page intro:right {
  margin-bottom: $print-bottom-margin;
  margin-left: $print-inner-margin;
  margin-right: $print-outer-margin;
  margin-top: $print-top-margin;

  @bottom-right {
    content: counter(page);
    font-family: $text-font-family;
    font-size: $print-page-number-size;
  }
}

@page intro:blank {
  @bottom-left {
    content: normal;
  }
  @bottom-right {
    content: normal;
  }
}

@page no-footer:left {
  margin-bottom: $print-bottom-margin;
  margin-left: $print-outer-margin;
  margin-right: $print-inner-margin;
  margin-top: $print-top-margin;
  @bottom-left { content: none; }
  @bottom-right { content: none; }
}

@page no-footer:right {
  margin-bottom: $print-bottom-margin;
  margin-left: $print-inner-margin;
  margin-right: $print-outer-margin;
  margin-top: $print-top-margin;
  @bottom-left { content: none; }
  @bottom-right { content: none; }
}

// scss-lint:enable PropertySpelling

@media print {

  .quire-noprint,
  .visually-hidden,
  .footnote-return,
  .quire-nav-group,
  .skip-link,
  .quire-nav,
  .quire-menu,
  .quire-search,
  .quire-cover__content,
  .quire-cover__footer,
  .quire-page__header__page-navigation,
  .quire-body-type--section-head .quire-page__section-list__link,
  .quire-body-type--section-head .quire-page__section-list__abstract {
    display: none;
  }

  .quire-page__header__number {
    string-set: papernumber content();
  }
  .quire-pdf__title {
    string-set: papertitle content();
  }
  .quire-pdf__section {
    string-set: sectiontitle content();
  }

  html {
    color: $print-text-color;
    font-size: $print-base-font-size;
    font-weight: 400;
    line-height: $print-base-line-height;
  }

  p {
    widows: 2;
    orphans: 2;
  }

  table {
    margin-bottom: 1em;
    margin-top: 1em;
  }

  tr th {
    font-weight: 400;
  }

  hr {
    margin: 1em auto;
    letter-spacing: 6pt;
    font-size: 7.5pt;
  }

  h2, h3, h4, h5, h6 {
    prince-bookmark-level: none;
  }
  strong {
    font-weight: 700;
  }

  a {
    color: $print-text-color;
  }

  .quire-page {
    page: footer;
    page-break-before: always;

    p + p,
    figure + p,
    table + p {
      text-indent: 1.5em;
    }

    &__header {
      margin-top: 1.5in;
      margin-bottom: .75in;
      &__number {
        font-size: 13pt;
      }
      &__title {
        font-size: 20pt;
        line-height: 30pt;
      }
      &__contributor {
          font-size: 10pt;
          line-height: 14.25pt;
          margin-top: 1em;
          margin-left: 0;
          padding-left: 0;
        }
    }

    &__content {
      column-count: 2;
      column-gap: 0.25in;
      // margin-top: .75in;

      &__main {
        h2 {
          font-size: 12pt;
          line-height: 17.5pt;
          margin-top: 12pt;
          margin-bottom: 4pt;
        }
        h3 {
          font-size: 10pt;
          line-height: 14.25pt;
          margin-bottom: 0;
          margin-top: .6em;
        }
        blockquote {
          margin-left: 1.5em;
          margin-right: 1.5em;
          p,
          p + p {
            text-indent: 0;
            margin-bottom: 6pt;
          }
        }
        ul {
          margin-left: 1.5em;
        }
        .q-contributors__list__item {
          margin-left: 0;
          padding-left: 0;
          p {
            text-indent: 0;
          }
        }
        .attribution {
          margin-top: .75em;
          margin-right: .75em;
          text-indent: 0;
        }

        &__backmatter,
        h2#notes + p  {
          font-size: 7.5pt;
          line-height: 11pt;
          ol {
            margin-bottom: 0;
            margin-top: .8em;
            padding-left: 0;
          }
        }

      }

      &__reader-note {
        font-size: 7.5pt;
        line-height: 11pt;
      }

      &__references {
        h2 {
          font-size: 12pt;
          line-height: 17.5pt;
          margin-top: 12pt;
          margin-bottom: 4pt;
        }
        dt {
          font-size: 7.5pt;
          line-height: 11pt;
          margin-top: 0;
          font-weight: 600;
          color: cmyk(0,0,0,0.75);
        }
        dd {
          font-size: 7.5pt;
          line-height: 11pt;
          margin-bottom: 6pt;
        }
      }

      &__abstract {
        column-span: all;
        font-size: 7.5pt;
        line-height: 11pt;
        width: 5in;
        margin: 0 auto;
        h2 {
          display: none;
        }
        hr {
          margin-bottom: 2em;
        }
      }

    }

    .footnote-ref {
      font-size: 6.5pt;
      font-weight: bold;
      position: relative;
      top: 2pt;
    }

    .footnotes {
      font-size: 7.5pt;
      line-height: 11pt;
      ol {
        margin-left: 18pt;
        li ol {
          margin-left: 6pt;
        }
      }
      p + p {
        margin-top: 3pt;
      }
    }

    .q-contributors__list {
      margin-left: 0;
      padding-left: 0;
    }
  }

  // ---- SECTION HEADS ---- //

  .quire-body-type--section-head .quire-page {
    page: bleed;
    width: 9in;
    height: 11.25in;
    margin-top: -.25in;
    margin-left: -.25in;
    margin-bottom: -.25in;
    background-color: $primary-color;
    padding-top: .25in;
    // padding-top: 2.5in;
    // padding-bottom: -2.5in;
  }

  .quire-body-type--section-head .quire-page__header {
    margin-top: 3.25in;
  }

  .quire-body-type--section-head h1 {
    color: cmyk(0,0,0,0);
  }
  .quire-body-type--section-head .quire-page__section-list,
  .quire-body-type--section-head hr {
    display: none;
  }

  // ---- COVER ---- //

  .quire-body-type--cover {
    page: no-footer;
    .quire-nav-group,
    .quire-nav {
      page-break-after: always;
      background-color: transparent;
      display: block;
      color: $primary-color;
      text-align: right;
      font-size: 13pt;
      margin-top: 4.125in;
      font-weight: 400;
      a {
        color: $primary-color;
      }
    }
    .quire-cover__background {
      background-image: none;
    }
    .quire-cover__video-wrapper {
      display: none;
    }
    .quire-cover__inner {
      page-break-before: right;
      margin: 0;
      padding-left: .5in;
      padding-top: 1.65in;
      &__title {
        font-size: 30pt;
        line-height: 40pt;
        width: 5.5in;
      }
      &__reading-line {
        color: $print-dark-neutral;
      }
      &__contributor {
        margin-top: .25in;
        font-size: 13pt;
        line-height: 21pt;
      }
      &__publisher {
        margin-top: 3in;
        font-size: 12pt;
        line-height: 21pt;
        color: $print-dark-neutral;
      }
    }
  }

  // ---- COPYRIGHT PAGE ---- //

  .quire-body-class--copyright {
    .quire-page {
      page: no-footer;
      font-size: 6.5pt;
      line-height: 10.5pt;
      margin-right: 2in;
      &__header {
        display: none;
      }
      &__content {
        column-count: 1;
      }
    }
  }

  // ---- FRONTMATTER PAGES ---- //

  .quire-body-class--frontmatter {
    .quire-page {
      page: frontmatter;
      margin-left: .625in;
      margin-right: .625in;
      &__content {
        column-count: 1;
      }
    }
  }

  // ---- CONTENTS PAGE ---- //

  .quire-body-type--contents {
    .quire-page {
      page: no-footer;
    }
    .quire-contents {
      margin-left: 0;
      padding-left: 0;
      font-size: 10pt;
      line-height: 14.25pt;
      margin-left: 0;
      padding-left: 0;

      &__page {
        page-break-inside: avoid;
        &__separator {
          display: none;
        }
      }

      &__page {
        a {
          display: block;
        }
        a::after {
          content: leader(dotted) ' ' target-counter(attr(href, url), page);
        }
      }

      &__section {
        a {
          display: block;
        }
        a::after {
          content: none;
        }
        ul a::after {
          content: leader(dotted) ' ' target-counter(attr(href, url), page);
        }
        &--frontmatter {
          a::after {
            content: leader(dotted) ' ' target-counter(attr(href, url), page, lower-roman);
          }
        }
      }
      ul.quire-contents .quire-contents__page:first-child {
        display: none;
      }
      ul.quire-contents ul .quire-contents__page:first-child {
        display: list-item;
      }
    }
  }

  // ---- FIGURES ---- //

  figure {
    page-break-inside: avoid;
    break-inside: avoid;
    &.q-pdf-no-grid {
      page-break-inside: initial;
    }
  }
  .q-figure-credit {
    font-size: 6.5pt;
    line-height: 9.5pt;
    margin-top: 1.5pt;
  }

  .q-figure {
    margin: 1em 0;
    width: 100%;

    &.q-figure-grid {
      clear: both;
      width: 100%;
    }

    &__inner-figure {
      margin-bottom: 1.25em;
    }

    &__inner-figure:last-child {
      margin-bottom: 0;
    }

    &.q-float-left {
      margin-right: 12pt;
    }
    &.q-float-right {
      margin-left: 10pt;
    }

    &.q-pdf-half-column-right {
      float: right;
      width: 45%;
      margin-left: 10pt;
      margin-right: 0;
    }

    &.q-pdf-half-column-left {
      float: left;
      width: 45%;
      margin-right: 12pt;
      margin-left: 0;
    }

    &.q-pdf-one-column {
      float: none;
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }

    &.q-pdf-two-column {
      column-span: all;
      display: block;
    }

    &.q-pdf-no-grid {
      display: block;
    }

    &.q-pdf-no-grid .q-figure__inner-figure.q-grid-2,
    &.q-pdf-no-grid .q-figure__inner-figure.q-grid-3,
    &.q-pdf-no-grid .q-figure__inner-figure.q-grid-4 {
      float: none;
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      page-break-inside: avoid;
    }

    &__table-wrapper {
      column-span: all;
      margin-bottom: 1em;
      margin-top: 1em;
      font-size: 7.5pt;
      table {
        margin: 0;
      }
    }

    &__table-wrapper + figcaption {
      column-span: all;
    }

    figcaption {
      margin-top: 0.5em;
      font-size: 7.5pt;
      line-height: 11pt;
      font-weight: 400;
      strong {
        font-weight: 400;
      }
    }
  }

  hr::after,
  .quire-page__content__main h2#notes,
  .quire-page__content__references h2,
  .quire-page__content__reader-note h2,
  .quire-page__content__main__backmatter h2 {
    color: $print-dark-neutral;
  }

  .quire-page__header__contributor,
  .quire-page__content__main .quire-contents,
  .quire-toc,
  .quire-page__header__number,
  .quire-page__section-list__item__contributor {
    color: $print-mid-neutral;
  }

  th {
    border-bottom-color: $print-dark-neutral;
  }

  td {
    border-bottom-color: $print-mid-neutral;
  }

  .q-figure__table-wrapper.q-border-vertical {
    td,
    th {
      border-left-color: $print-mid-neutral;
    }
    th,
    tbody th {
      border-color: $print-mid-neutral;
    }
    thead th:last-of-type,
    tbody td:last-of-type {
      border-right-color: $print-mid-neutral;
    }
  }

  .q-figure__table-wrapper.q-border-horizontal {
    th {
      border-color: $print-dark-neutral;
      border-bottom-color: $print-dark-neutral;
    }
    td,
    tbody th {
      border-bottom-color: $print-mid-neutral;
    }
    thead th:last-of-type {
      border-color: $print-dark-neutral;
    }
  }

  .q-figure__table-wrapper.q-border-box {
    table {
      border-color: $print-dark-neutral;
    }
  }

  .q-figure__table-wrapper.q-border-all {
    table {
      border-color: $print-dark-neutral;
      td,
      th,
      tbody tr *:first-child {
        border-left-color: $print-mid-neutral;
      }
      th {
        border-color: $print-dark-neutral;
      }
      td,
      th,
      tbody th {
        border-bottom-color: $print-mid-neutral;
      }
    }
  }


  .quire-cover__inner__contributor {
    color: $print-text-color;
  }

}
