$base-spacing: 1rem;
$base-font-size: 18px;

// Default
// $primary-color: #3273dc;

// Artistry in Bronze
$primary-color: #994e1a;

// Keep it Moving?
// $primary-color: #9eb300;

$black: #231f20;
$dark-neutral: #706c6d;
$mid-neutral: #a29e9f;
$light-neutral: #efebec;
$white: #fff;

$text-font-family: 'Open Sans', sans-serif;
$heading-font-family: 'Lato', sans-serif;
$interface-font-family: 'Lato', sans-serif;

$small-font-scale: 0.85;
$small-font-line-height: 1.6em;
